@model InsuredTraveling.Models.Event
@using System.Web.Optimization;
@using System.Configuration;
@{
    ViewBag.Title = "Events";
    Layout = "~/Views/Shared/_LayoutLimitless.cshtml";
    HtmlHelper.UnobtrusiveJavaScriptEnabled = true;
    var dateFormatString = System.Configuration.ConfigurationManager.AppSettings["DateFormat"].ToString().ToLower();
}
@if (ViewBag.Success != null)
{
    if (ViewBag.Success == "Success")
    {
        <div class="row">
            <div class="col-md-5 col-sm-5">
                <div class="alert alert-dismissible alert-success" style="margin-left:12px; width:211%">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <span>@Resource.Events_Successful</span>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-md-5 col-sm-5">
                <div class="alert alert-dismissible alert-danger" style="margin-left:12px; width:211%">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <span>@Resource.Events_Failure</span>
                </div>
            </div>
        </div>
    }
}
<h2>@Resource.Home_Events</h2>
<form id="eventForm" method="post" action="@Url.Action("AddEvent")" enctype="multipart/form-data">

    <div class="col-md-6">
        <div class="form-group">

        </div>
    </div>
    <div class="col-md-7">
        <div class="form-group">
            <label class="control-label"> @Resource.Events_Title <span class="glyphicon glyphicon-asterisk small" aria-hidden="true" style="color:#E41B17;font-size: 10px;"></span></label>
            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control input-sm", @id = "eventTitle" } })
            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-md-7">
        <div class="form-group">
            <label class="control-label"> @Resource.Events_Description <span class="glyphicon glyphicon-asterisk small" aria-hidden="true" style="color:#E41B17;font-size: 10px;"></span></label>
            @Html.TextAreaFor(model => model.Description, new { @class = "form-control input-sm", @id = "eventDescription", @rows = "10"})
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-md-7">
        <div class="form-group">
            <label class="control-label"> @Resource.Events_Organizer <span class="glyphicon glyphicon-asterisk small" aria-hidden="true" style="color:#E41B17;font-size: 10px;"></span></label>
            @Html.EditorFor(model => model.Organizer, new { htmlAttributes = new { @class = "form-control input-sm", @id = "eventOrganizer" } })
            @Html.ValidationMessageFor(model => model.Organizer, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="col-md-7">
        <div class="form-group">
            <label class="control-label"> @Resource.Events_Location <span class="glyphicon glyphicon-asterisk small" aria-hidden="true" style="color:#E41B17;font-size: 10px;"></span></label>
            @Html.EditorFor(model => model.Location, new { htmlAttributes = new { @class = "form-control input-sm", @id = "eventLocation" } })
            @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-md-7">
        <div class="form-group">
            <label class="control-label"> @Resource.Events_StartDate <span class="glyphicon glyphicon-asterisk small" aria-hidden="true" style="color:#E41B17;font-size: 10px;"></span></label>
            @Html.EditorFor(model => model.StartDate,  new { htmlAttributes = new { @class = "form-control input-sm", @id = "eventStartTime" , @placeholder = dateFormatString } })
            @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-md-7">
        <div class="form-group">
            <label class="control-label"> @Resource.Events_StartTime <span class="glyphicon glyphicon-asterisk small" aria-hidden="true" style="color:#E41B17;font-size: 10px;"></span></label>
            @Html.EditorFor(model => model.StartTime, new { htmlAttributes = new { @class = "form-control input-sm travelInfo mandatoryField", type = "time", @id = "eventStartTime" } })
            @Html.ValidationMessageFor(model => model.StartTime, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-md-7">
        <div class="form-group">
            <label class="control-label"> @Resource.Events_EndDate <span class="glyphicon glyphicon-asterisk small" aria-hidden="true" style="color:#E41B17;font-size: 10px;"></span></label>
            @Html.EditorFor(model => model.EndDate,  new { htmlAttributes = new { @class = "form-control input-sm", @id = "eventEndTime", @placeholder = dateFormatString }  })
            @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-md-7">
        <div class="form-group">
            <label class="control-label"> @Resource.Events_EndTime <span class="glyphicon glyphicon-asterisk small" aria-hidden="true" style="color:#E41B17;font-size: 10px;"></span></label>
            @Html.EditorFor(model => model.EndTime, new { htmlAttributes = new { @class = "form-control input-sm travelInfo mandatoryField", type = "time", @id = "eventEndTime" } })
            @Html.ValidationMessageFor(model => model.EndTime, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-md-7">
        <div class="form-group">
            <label class="control-label"> @Resource.Events_EventType <span class="glyphicon glyphicon-asterisk small" aria-hidden="true" style="color:#E41B17;font-size: 10px;"></span></label>
            <div class="inputs-spacing">
                @Html.DropDownListFor(model => model.EventType, (List<SelectListItem>)ViewBag.EventTypes, new { @class = "form-control input-sm", id = "EventType" })
                @Html.ValidationMessageFor(model => model.EventType, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <div class="form-group">
            <input type="submit" style="width:100px; margin-bottom:100px;" value="@InsuredTraveling.Resource.Events_AddEvent" class="btn btn-success">
        </div>
    </div>
</form>
@Scripts.Render("~/bundles/jqueryui")
@Styles.Render("~/Content/jqueryuicss")
<script type="text/javascript">
    $(document).ready(function () {
        var dateFormatString = "@System.Configuration.ConfigurationManager.AppSettings["DateFormat"].ToString().ToLower()";
        $("#eventStartTime").datepicker({
            dateFormat: dateFormatString,
            changeMonth: true,
            changeYear: true,
            yearRange: '-100y:c+nn',
            minDate: 'd',
            onSelect: function (selected) {
                $("#eventEndTime").datepicker("option", "minDate", selected);

            }
        });

        $("#eventEndTime").datepicker({
            dateFormat: dateFormatString,
            changeMonth: true,
            changeYear: true,
            yearRange: '-100y:c+nn',
            
            onSelect: function (selected) {
                $("#eventStartTime").datepicker("option", "maxDate", selected);
            }
        });
    });
</script>






