@model kanbanticket

<div class="modal-header">
    <button style="top:25%;" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 style="margin-bottom: 0px; margin-top: -10px;">@Model.Name</h4>
    <h6 style="margin-top: 1px;">
        in list <span style="text-decoration: underline">@Model.kanbanpoollist.Name</span>,
        of type <span style="text-decoration: underline">@Model.kanbantickettype.Name</span>
    </h6>
    <h6 style="margin-top: 0; margin-bottom:0; font-size:12px;">
        <span class="glyphicon glyphicon-time" style="font-size:12px;"></span> @DateTime.Now.ToString("dd.MM.yyyy | HH:mm")
    </h6>
</div>
<div style="padding-top: 10px;" class="modal-body">
    <hr style="margin-top:0;" />
    <h5 style="margin-bottom: 0px; margin-top: 3px; font-weight:bold; font-size:16px; color:#4d4d4d;">Description:</h5>
    <p>@Model.Description</p>
    <hr />
    <h5 style="margin-bottom: 0px; margin-top: 3px; font-weight:bold; font-size:16px; color:#4d4d4d;">Assigned To:</h5>
    @foreach (var user in Model.kanbanticketassignedtoes)
    {
        <h6 style="margin-top: 1px;"><span style="text-decoration: underline;">@user.aspnetuser.FirstName @user.aspnetuser.LastName</span><small> since @DateTime.Now.ToString("dd.MM.yyyy | HH:mm")</small></h6>
    }
    <hr />
    <h5 style="margin-bottom: 0px; margin-top: 3px; font-weight:bold; font-size:16px; color:#4d4d4d;">Watchers:</h5>
    @foreach (var user in Model.kanbanticketwatchers)
    {
        <h6 style="margin-top: 1px;"><span style="text-decoration: underline;">@user.aspnetuser.FirstName @user.aspnetuser.LastName</span><small> since @DateTime.Now.ToString("dd.MM.yyyy | HH:mm")</small></h6>
    }
    <hr />
    <h5 style="margin-bottom: 0px; margin-top: 3px; font-weight:bold; font-size:16px; color:#4d4d4d;">Details:</h5>
    <ul class="list-group" style="border:0;">
        @foreach (var item in Model.kanbanticketcomponents)
        {
            <li class="kanban-board-list-group-item">
                <span class="kanban-board-badge">@item.Value</span>
                @item.Name
            </li>
        }
    </ul>
</div>