@model kanbanticket

@if (ViewBag.Mode == 1)
{
    foreach (var timekeeper in Model.kanbanticketassignedtoes)
    {
        if (timekeeper.aspnetuser.UserName == HttpContext.Current.User.Identity.Name)
        {
            <div style="border-bottom: 3px solid @Model.kanbantickettype.Color" class="list-item-card" data-ticketid="@Model.Id">
                <div class="list-item-card-details">
                    <div class="row">
                        <div onclick="ShowTicketDetails(@Model.Id)" class="col-sm-9">
                            <a href="#" class="list-item-card-title">@Model.Name</a>
                        </div>
                        <div class="col-sm-1">
                            <button onclick="editTicket(@Model.Id)" class="btn btn-sm btn-remove">
                                <span style="font-size: 10px;" class="glyphicon glyphicon-edit"></span>
                            </button>
                        </div>
                        <div class="col-sm-1">
                            <button onclick="deleteTicket(@Model.Id)" class="btn btn-sm btn-remove">
                                <span style="font-size: 10px;" class="glyphicon glyphicon-remove"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            break;
        }
    }
}
else
{
    <div style="border-bottom: 3px solid @Model.kanbantickettype.Color" class="list-item-card" data-ticketid="@Model.Id">
        <div class="list-item-card-details">
            <div class="row">
                <div onclick="ShowTicketDetails(@Model.Id)" class="col-sm-9">
                    <a href="#" class="list-item-card-title">@Model.Name</a>
                </div>
                <div class="col-sm-1">
                    <button onclick="editTicket(@Model.Id)" class="btn btn-sm btn-remove">
                        <span style="font-size: 10px;" class="glyphicon glyphicon-edit"></span>
                    </button>
                </div>
                <div class="col-sm-1">
                    <button onclick="deleteTicket(@Model.Id)" class="btn btn-sm btn-remove">
                        <span style="font-size: 10px;" class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
}

<script>
    $(function () {
        $("#assignees-notification").val("@ViewBag.AssigneesNotification");
        $("#watchers-notification").val("@ViewBag.WatchersNotification");
    });
</script>