@model kanbanticket

<input type="hidden" value="@ViewBag.AssigneesNotification" id="assignees-notification" />
<input type="hidden" value="@ViewBag.WatchersNotification" id="watchers-notification" />

@if (ViewBag.Mode == 1)
{
    foreach (var timekeeper in Model.kanbanticketassignedtoes)
    {
        if (timekeeper.aspnetuser.UserName == HttpContext.Current.User.Identity.Name)
        {
            <div style="border-bottom: 3px solid @Model.kanbantickettype.Color" class="list-item-card" data-ticketid="@Model.Id">
                <div class="list-item-card-details">
                    <div class="row">
                        <div onclick="ShowTicketDetails(@Model.Id)" class="col-sm-10">
                            <a href="#" class="list-item-card-title">@Model.Name</a>
                        </div>
                        <div class="col-sm-2">
                            <button onclick="deleteTicket(@Model.Id)" class="btn btn-sm btn-danger btn-remove">X</button>
                        </div>
                    </div>
                </div>
            </div>
            break;
        }
    }
}
else
{
    <div style="border-bottom: 3px solid @Model.kanbantickettype.Color" class="list-item-card" data-ticketid="@Model.Id">
        <div class="list-item-card-details">
            <div class="row">
                <div onclick="ShowTicketDetails(@Model.Id)" class="col-sm-10">
                    <a href="#" class="list-item-card-title">@Model.Name</a>
                </div>
                <div class="col-sm-2">
                    <button onclick="deleteTicket(@Model.Id)" class="btn btn-sm btn-danger btn-remove">X</button>
                </div>
            </div>
        </div>
    </div>
}