<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Insured Travel</title>

    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.12/datatables.min.css" />
    <link rel="icon" href="/Content/img/profile.png">
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />

    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-3.1.0.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/select/1.2.0/js/dataTables.select.min.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top nav-material-design" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="btn btn-success navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="glyphicon glyphicon-menu-hamburger"></span>
                </button>
                <a href="@System.Configuration.ConfigurationManager.AppSettings["webpage_url"]/Home" class="navbar-brand">
                    <div style="display:inline-block;">
                        <img src="~/Content/img/profile.png" class="logo" alt="logo" />Insured Traveling
                    </div>
                </a>
                
            </div>
            <div class="collapse navbar-collapse" id="myNavbar" data-collapse="!navbarExpanded">
                <div class="nav navbar-nav navbar-right" style="float:right;text-align:right;">
                    @foreach (var i in InsuredTraveling.App_Start.SiteLanguages.GetAllanguages())
                    {
                        if (i.CultureName == "en")
                        {
                            <a href="@Url.Action("ChangeLanguage", "Home", new { lang = i.CultureName })">
                                <img src="~/Content/flags/en-US.png" />
                            </a>
                        }
                        if (i.CultureName == "mk")
                        {
                            <a href="@Url.Action("ChangeLanguage", "Home", new { lang = i.CultureName })">
                                <img src="~/Content/flags/mk-MK.png" />
                            </a>
                        }
                    }
                </div>
                <ul class="nav navbar-nav navbar-right" style="float:right;text-align:right;">
                    <li><a href="#" id="welcome"></a></li>
                    <li><a href="@System.Configuration.ConfigurationManager.AppSettings["webpage_url"]/api/account/deletetoken" id="logOut" onclick="func()">Logout</a></li>
                    <li><a href="@System.Configuration.ConfigurationManager.AppSettings["webpage_url"]/Login" id="login">Login</a></li>
                    <li><a href="@System.Configuration.ConfigurationManager.AppSettings["webpage_url"]/SignUp" id="signup">Sign up</a></li>
                </ul>
            </div>
        </div>
    </div>
    @if (System.Web.HttpContext.Current.User != null)
    {
        <input type="hidden" value="@System.Web.HttpContext.Current.User.Identity.Name" id="userName" />
    }
    <div class="container body-content">
        @RenderBody()
    </div>
    <br />
    <footer class="container-fluid footer-material-design">
        <p class="container" style="color:#ffffff">&copy; @DateTime.Now.Year - Insured Traveling</p>
    </footer>
    <script src="~/Scripts/bootstrap.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            localStorage.setItem("username", $("#userName").val());
            console.log(localStorage.getItem("username"));
            if (localStorage.getItem("username") != "") {
                $("#welcome").text("Welcome " + localStorage.getItem("username"));
                $("#signup").attr("class", "hidden");
                $("#login").attr("class", "hidden");
                $("#welcome").removeAttr("class");
                $("#logOut").removeAttr("class");
            }
             else {
               $("#welcome").hide();
                $("#logOut").attr("class", "hidden");
            }
        });
        function func() {
            localStorage.clear();
        }
    </script>
</body>
</html>