@{HtmlHelper.UnobtrusiveJavaScriptEnabled = true;}

@using System.Configuration
@using System.Web.Optimization
@using InsuredTraveling.Filters;

@{
    ViewBag.Title = InsuredTraveling.Resource.Home;
    RoleAuthorize r = new RoleAuthorize();
    Layout = "~/Views/Shared/_LayoutLimitless.cshtml";
    var dateTime = ConfigurationManager.AppSettings["DateFormat"];
    var dateTimeFormat = dateTime != null && (dateTime.Contains("yy") && !dateTime.Contains("yyyy")) ? dateTime.Replace("yy", "yyyy").ToLower() : dateTime.ToLower();
}

@Scripts.Render("~/bundles/jqueryui")
@Styles.Render("~/Content/jqueryuicss")

@if ((r.IsUser("Broker") || r.IsUser("Broker manager")))
{
    <div id="searchExpiringPolicy" style="margin-top: 30px;">
        <div class="row">
            <div class="col-md-3 col-sm-3">
                <div class="form-group-sm ">
                    <label>@InsuredTraveling.Resource.SearchPolicyByExpiringDays:</label>
                    <input id="DaysBeforeExpiring" type="text" class="form-control"/>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group" style="margin-top: 25px;">
                    <input id="btnSubmit" class="btn btn-primary btn-sm btn-material-design-success" style="width: 35%;" value="@InsuredTraveling.Resource.Search_SearchButton" onclick="SearchPoliciesExpiring()" type="button" style="float: left;"/>
                </div>
            </div>
        </div>

        <div class="row">
            <table style="width: 100%;" class="table table-bordered table-hover table-striped" id="tablePolicies">
                <thead>
                <tr>
                    <th>@InsuredTraveling.Resource.Search_SearchTablePolicyNumber</th>
                    <th>@InsuredTraveling.Resource.Seacrh_SearchTableInsuredNameLastName</th>
                    <th>@InsuredTraveling.Resource.Seacrh_SearchTableTravelCountry</th>
                    <th>@InsuredTraveling.Resource.Seacrh_SearchTablePolicyType</th>
                    <th>@InsuredTraveling.Resource.Seacrh_SearchTableFrom</th>
                    <th>@InsuredTraveling.Resource.Seacrh_SearchTableTo</th>
                    <th>@InsuredTraveling.Resource.Seacrh_SearchTablePolicyIssuanceDate</th>
                    <th>@InsuredTraveling.Resource.Seacrh_SearchTableCancellationDate</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody id="searchResultPolycies"></tbody>
            </table>
        </div>

    </div>
}
else if (r.IsUser("Sava_admin") || r.IsUser("Sava_support"))
{
    <div class="row" style="margin-top: 30px;">
        <h3>@Resource.TodayRegisteredUsersMsg</h3>
        <hr/>
        <div class="row">
            <div class="form-group col-md-4">
                <label>@Resource.SearchByDateCreated</label>
                <input type="text" id="dateCreated" class="form-control" placeholder="@dateTimeFormat" />
            </div>
            <div class="form-group col-md-3">
                <button class="btn btn-primary btn-sm" onclick="SearchUsers()" style="margin-top: 30px;"> <span class="glyphicon glyphicon-search"></span>@Resource.Search</button>
            </div>
        </div>


        <table style="width: 100%;" class="table table-bordered table-hover table-striped" id="tableRegisteredUsers">
            <thead>
            <tr>
                <th>@InsuredTraveling.Resource.SearchTable_UserName</th>
                <th>@InsuredTraveling.Resource.SearchTable_FirstName</th>
                <th>@InsuredTraveling.Resource.SearchTable_LastName</th>
                <th>@InsuredTraveling.Resource.SearchTable_Email</th>
                <th>@InsuredTraveling.Resource.SearchTable_RoleName</th>
                <th>@InsuredTraveling.Resource.SearchTable_CreatedOn</th>
                <th>@InsuredTraveling.Resource.SearchTable_ActiveInactiveUser</th>
                <th>@InsuredTraveling.Resource.SearchTable_UserPoints</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody id="searchResultRegisteredUsers"></tbody>
        </table>
    </div>

    <div class="row" style="margin-top: 30px;">
        <h3>@Resource.SearchRequestDescString</h3>
        <hr />
        <div class="row">
            <div class="form-group col-md-4">
                <label>@Resource.SearchRequestDescSearch</label>
                <input type="text" id="dateCreatedRequest" class="form-control" placeholder="@dateTimeFormat" />
            </div>
            <div class="form-group col-md-3">
                <button class="btn btn-primary btn-sm" onclick="SearchPointsRequest()" style="margin-top: 30px;"> <span class="glyphicon glyphicon-search"></span>@Resource.Search</button>
            </div>
        </div>


        <table style="width: 100%;" class="table table-bordered table-hover table-striped" id="tablePolicyRequest">
            <thead>
                <tr>
                    <th>@InsuredTraveling.Resource.SearchRequestNumber</th>                    
                    <th>@InsuredTraveling.Resource.Search_SearchSSNHolder</th>
                    <th>@InsuredTraveling.Resource.Seacrh_SearchTableSeller</th>
                    <th>@InsuredTraveling.Resource.SearchPolicyTimestamp</th>
                    <th>@InsuredTraveling.Resource.SearcPolicyRequestStatus</th>
                  
                </tr>
            </thead>
            <tbody id="searchResultPolicyRequest"></tbody>
        </table>
    </div>


    <div class="row" style="margin-top: 30px;">
        <h3>@Resource.SearchUsedPointsDescString</h3>
        <hr />
        <div class="row">
            <div class="form-group col-md-4">
                <label>@Resource.SearchUsedPointsDescSearch</label>
                <input type="text" id="dateCreatedPointsUsed" class="form-control" placeholder="@dateTimeFormat" />
            </div>
            <div class="form-group col-md-3">
                <button class="btn btn-primary btn-sm" onclick="SearchUsedPoints()" style="margin-top: 30px;"> <span class="glyphicon glyphicon-search"></span>@Resource.Search</button>
            </div>
        </div>


        <table style="width: 100%;" class="table table-bordered table-hover table-striped" id="tableUsedPoints">
            <thead>
                <tr>
                    <th>@InsuredTraveling.Resource.SearchUsedPointsNumber</th>                   
                    <th>@InsuredTraveling.Resource.Search_SearchSSNHolder</th>
                    <th>@InsuredTraveling.Resource.Sava_ExcelSeller_id</th>                    
                    <th>@InsuredTraveling.Resource.SearchUsedPoints</th>
                    <th>@InsuredTraveling.Resource.SearchPolicyTimestamp</th>

                </tr>
            </thead>
            <tbody id="searchResultPolicyRequest"></tbody>
        </table>
    </div>

    <!-- Reset password modal dialog-->
    <div class="modal fade" id="modal" role="dialog">
        <div class="modal-dialog" style="margin-top:13%; width:35%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">@Resource.Search_ResetUserPass</h4>
                </div>
                <div class="modal-body" style="width:70%;">
                    <div class="form-group">
                        <label class="control-label">@Resource.User_Password</label>
                        <input type="password" id="UserPassword" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">@Resource.User_ConfirmPassword</label>
                        <input type="password" id="UserRepeatPassword" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label id="PassResetMsg"></label>
                    </div>
                    <input type="hidden" id="hiddenUsername" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" id="ResetPass">@Resource.Search_Reset</button> <button type="button" onclick="$('#PassResetMsg').text(' ')" class="btn btn-default" data-dismiss="modal">@Resource.Search_Cancel</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Change user status modal dialog-->
    <div class="modal fade" id="modalChangeStatus" role="dialog">
        <div class="modal-dialog" style="margin-top:13%; width:35%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">@Resource.Search_UserChangeStatus</h4>
                </div>
                <div class="modal-body" style="width:70%;">
                    <div class="form-group">
                        <h4>@Resource.Search_UserChangeStatusQuestion</h4>
                    </div>
                    <div class="form-group">
                        <label id="ChangeStatusMsg"></label>
                    </div>
                    <input type="hidden" id="hiddenUsernameChangeStatus" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" id="ChangeStatus">@Resource.Search_ChangeUserStatus</button> <button type="button" onclick="$('#ChangeStatusMsg').text(' ')" class="btn btn-default" data-dismiss="modal">@Resource.Search_Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <!--Do not allow user to set itself as inactive modal-->
    <div class="modal fade" id="modalUserNotallowedToChangeItselfStatus" role="dialog">
        <div class="modal-dialog" style="margin-top:13%; width:35%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">@Resource.Search_UserChangeStatus</h4>
                </div>
                <div class="modal-body" style="width:70%;">
                    <div class="form-group">
                        <h4>@Resource.Search_UserItselfChangeStatus</h4>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">@Resource.Search_Cancel</button>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="row" style="overflow: hidden;">

        <div class="container">
            <br>
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                </ol>
            </div>
        </div>
    </div>

                <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/Content/img/carIns.png" style="width: 700px; height: auto;" alt="one" width="460" height="345">
        </div>

        <div class="item">
            <img src="~/Content/img/familyIns.png" style="width: 700px; height: auto;" alt="two" width="460" height="345">
        </div>

        <div class="item">
            <img src="~/Content/img/houseIns.png" style="width: 700px; height: auto;" alt="three" width="460" height="345">
        </div>

        <div class="item">
            <img src="~/Content/img/roadtripIns.png" style="width: 700px; height: auto;" alt="four" width="460" height="345">
        </div>
    </div>

                <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="icon-arrow-left15 arrows-style" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="icon-arrow-right15 arrows-style" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
}



<script type="text/javascript">
    $(document).ready(function () {
        var dateFormatString = "@System.Configuration.ConfigurationManager.AppSettings["DateFormat"].ToString().ToLower()";

        $("#DaysBeforeExpiring").val(7);
        $("#tablePolicies").DataTable().destroy();
        $("#tablePolicies").DataTable();

        $("#dateCreated").datepicker({
            dateFormat: dateFormatString,
            changeMonth: true,
            changeYear: true,
            yearRange: '-100y:c+nn',
            maxDate: 'd'
        });

        $("#dateCreatedRequest").datepicker({
            dateFormat: dateFormatString,
            changeMonth: true,
            changeYear: true,
            yearRange: '-100y:c+nn',
            maxDate: 'd'
        });
        $("#dateCreatedPointsUsed").datepicker({
            dateFormat: dateFormatString,
            changeMonth: true,
            changeYear: true,
            yearRange: '-100y:c+nn',
            maxDate: 'd'
        });

        SearchPoliciesExpiring();
        SearchUsers();
        SearchPointsRequest();
        SearchUsedPoints()
    });

    $("#ResetPass").click(function () {
        $.ajax({
            url: "@System.Configuration.ConfigurationManager.AppSettings["webpage_url"]/ForgetPassword/Change",
            type: "POST",
        data: { Username: $("#hiddenUsername").val(), Password: $("#UserPassword").val(), NewPassword: $("#UserRepeatPassword").val() },
        success: function (data) {
            if ((JSON.parse(data)).message === "OK") {
                $("#PassResetMsg").text("@Resource.PasswordResetMessageSuccess");
                $("#ResetPass").hide();
            } else {
                $("#PassResetMsg").text("@Resource.PasswordResetMessageFail");
            }

        },
        error: function () {
            $("#PassResetMsg").text("@Resource.PasswordResetMessageFail")
        }
    });
    });

    $("#ChangeStatus").click(function () {
        $.ajax({
            url: "@System.Configuration.ConfigurationManager.AppSettings["webpage_url"]/Search/ChangeUserStatus?username=" + $("#hiddenUsernameChangeStatus").val(),
            type: "GET",
        success: function (data) {
            if ((JSON.parse(data)).message === "OK") {
                $("#ChangeStatusMsg").text("@Resource.ChangeStatusMessageSuccess");
                $("#ChangeStatus").hide();
                SearchUsers();
            } else {
                $("#ChangeStatusMsg").text("@Resource.ChangeStatusMessageFail");
            }

        },
        error: function () {
            $("#PassResetMsg").text("@Resource.ChangeStatusMessageFail")
        }
    });
    });

    function ShowModal(username) {
        $("#modal").modal("show");
        $("#hiddenUsername").val(username);
        $("#ResetPass").show();
    }

    function ShowModalChangeStatus(username) {
        if (username == "@System.Web.HttpContext.Current.User.Identity.Name") {
            $("#modalUserNotallowedToChangeItselfStatus").modal("show");
        } else {
            $("#ChangeStatus").show();
            $("#modalChangeStatus").modal("show");
            $("#hiddenUsernameChangeStatus").val(username);
            console.log(username);
        }

    }
    function SearchUsers() {
        $("#tableRegisteredUsers").DataTable().destroy();
        $("#tableRegisteredUsers").DataTable({
            dom: "Bfrtip",
            ajax: "/Search/GetAllRegisteredUsersCreatedToday?dateCreated=" + $("#dateCreated").val(),
            columns: [
                    { data: "Username" },
                    { data: "FirstName" },
                    { data: "LastName" },
                    { data: "Email" },
                    { data: "RoleName" },
                    { data: "CreatedOn" },
                    { data: "ActiveInactive" },
                    {data : "Points"},
                    {
                        data: "Username",
                        "render": function (data, type, row, meta) {
                            if (type === 'display') {
                                var value = data;
                                return $('<a>')
                                    .attr('href', '#')
                                    .attr('id', 'UserResetPass')
                                    .attr('onclick', "ShowModal('" + data + "')")
                                    .text("@InsuredTraveling.Resource.Search_UserResetPass")
                                    .wrap('<div></div>')
                                    .parent()
                                    .html();
                            } else {
                                return data;
                            }
                        }
                    },
                    {
                        data: "Username",
                        "render": function (data, type, row, meta) {
                            if (type === 'display') {
                                var value = data;
                                return $('<a>')
                                    .attr('href', '#')
                                    .attr('onclick', "ShowModalChangeStatus('" + data + "')")
                                    .text("@InsuredTraveling.Resource.Search_UserChangeStatus")
                                    .wrap('<div></div>')
                                    .parent()
                                    .html();
                            } else {
                                return data;
                            }
                        }
                    },
                    {
                        data: "ID",
                        "render": function (data, type, row, meta) {
                            if (type === 'display') {
                                var value = data;
                                return $('<a>')
                                    .attr('href', '/Search/EditUser?id=' + data)
                                    .attr('target', '_blank')
                                    .text("@InsuredTraveling.Resource.SearchTable_EditUser")
                                    .wrap('<div></div>')
                                    .parent()
                                    .html();
                            } else {
                                return data;
                            }
                        }
                    }
            ],
            select: true
        });
        $("#tableRegisteredUsers").css("display", "table");
    };

    function SearchPointsRequest() {
        ;
        $("#tablePolicyRequest").DataTable().destroy();
        $("#tablePolicyRequest").DataTable({
            dom: "Bfrtip",
            ajax: "/Search/GetAllPolicyRequest?dateCreated=" + $("#dateCreatedRequest").val(),
            columns: [
                    { data: "id" },                    
                    { data: "ssn" },
                    { data: "policy_id" },
                    { data: "DateCreated" },
                    { data: "flag" }
                 
            ],
            select: true
        });
        $("#tablePolicyRequest").css("display", "table");
    };

    function SearchUsedPoints() {
        ;
        $("#tableUsedPoints").DataTable().destroy();
        $("#tableUsedPoints").DataTable({
            dom: "Bfrtip",
            ajax: "/Search/GetAllUsedPoints?dateCreated=" + $("#dateCreatedPointsUsed").val(),
            columns: [
                    { data: "id" },
                    { data: "id_policyHolder" },
                     { data: "id_seller" },
                    { data: "points_used" },                    
                    { data: "timestamp" },
                    

            ],
            select: true
        });
        $("#tableUsedPoints").css("display", "table");
    };

    function SearchPoliciesExpiring() {
        $("#tablePolicies").DataTable().destroy();
        $("#tablePolicies").DataTable({
            dom: "Bfrtip",
            ajax: "/Search/GetExpiringPolicies?days=" + $("#DaysBeforeExpiring").val(),
            columns: [
               { data: "Polisa_Broj" },
               { data: "InsuredName" },
               { data: "Country" },
               { data: "Policy_type" },
               { data: "Zapocnuva_Na" },
               { data: "Zavrsuva_Na" },
               { data: "Datum_Na_Izdavanje" },
               { data: "Datum_Na_Storniranje" },
               {
                   data: "Polisa_Broj",
                   "render": function (data, type, row, meta) {
                       if (type === 'display') {
                           var value = data;
                           return $('<a>')
                               .attr('href', '/Policy/PolicyDetails?policyNumber=' + data)
                               .attr('target', '_blank')
                               .attr('class', 'details')
                               .text("@InsuredTraveling.Resource.Search_DetailsLink")
                               .wrap('<div></div>')
                               .parent()
                               .html();
                       } else {
                           return data;
                       }
                   }
               },
               {
                   data: "Polisa_Id",
                   "render": function (data, type, row, meta) {
                       if (type === 'display') {
                           return $('<a>')
                               .attr('href', 'javascript:;')
                               .attr('class', 'loss')
                               .attr('id', data)
                               .text("@InsuredTraveling.Resource.Search_FNOLLink")
                               .wrap('<div></div>')
                               .parent()
                               .html();
                       } else {
                           return data;
                       }
                   }
               },
               {
                   data: "Polisa_Id",
                   "render": function (data, type, row, meta) {
                       if (type === 'display') {
                           return $('<a>')
                               .attr('href', '/FirstNoticeOfLoss/Index?policyId=' + data)
                               .attr('class', 'newLoss')
                               .attr('id', data)
                               .text("@InsuredTraveling.Resource.Search_AddFNOLLink")
                                .wrap('<div></div>')
                                .parent()
                                .html();
                       } else {
                           return data;
                       }
                   }
               }
            ],
            select: true
        });

        $('#tablePolicies tbody').on('click',
            'td .loss',
            function () {
                var $row = $(this).closest('td');
                var policy_num = $row.children().attr('id');
                CreateFNOLTablePoliciesByPolicyNumber(policy_num);

            });

        //$('html,body').animate({
        //    scrollTop: $("#tablePolicies").offset().top
        //},
        //    800);
    };
</script>


