@model IQueryable<InsuredTraveling.news_all>
@{
    Layout = "~/Views/Shared/_LayoutLimitless.cshtml";
}
<div class="container">
    <div class="row" style="margin-top: 20px;">
        <h3>@InsuredTraveling.Resource.News_AddTitle</h3>
        <hr />
            <div class="col-md-6">
                <form id="newsForm" method="post" action="@Url.Action("AddNews")" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="newsTitle">@InsuredTraveling.Resource.News_Title</label>
                        <input type="text" class="form-control" name="newsTitle" id="newsTitle" placeholder="@InsuredTraveling.Resource.News_Title">
                    </div>
                    <div class="form-group">
                        <label for="newsImage">@InsuredTraveling.Resource.News_Image</label>
                        <input type="file" id="newsImage" name="newsImage" @*accept="image/**@>
                    </div>
                    <div class="form-group">
                        <label for="newsContent">@InsuredTraveling.Resource.News_Content</label>
                        <textarea class="form-control " name="newsContent" id="newsContent" rows="10" placeholder="@InsuredTraveling.Resource.News_Content"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" id="newsIsNotification" name="newsIsNotification" class="radiobtn-position" />
                        <label for="newsIsNotification">@InsuredTraveling.Resource.News_Notification</label>
                    </div>
                    <input type="submit" style="width:100px; margin-left:20px;" value="@InsuredTraveling.Resource.News_Add" class="btn btn-success">
                </form>
            </div>
        
    </div>
    <div class="row">
        @if (Model == null || Model.Count() == 0)
        {
            <h3>@InsuredTraveling.Resource.News_NoNews</h3>
        }
        else
        {
            <br />
            <h3>@InsuredTraveling.Resource.News:</h3>
            <hr />
            foreach (var news in Model)
            {
                <div class="row" style="margin-left:20px;">
                    <div class="col-md-1 col-sm-2">
                       
                            <img style="width: 84px; height: 86px;" class="media-object" src="@news.ImageLocation" alt="description_image">
                        
                    </div>
                    <div class="col-md-11 col-sm-10">
                        <h4 class="media-heading">@news.Title</h4>
                        <p class="media-content">@news.Content</p>
                        @*<div id="buttons" class="col-sm-2">*@
                        <span hidden id="newsId">@news.ID</span>
                        <button onclick="deleteNews(@news.ID)" id=@news.ID style="width: 50px;" class="btn btn-xs btn-danger btnDeleteNews">@InsuredTraveling.Resource.News_Delete</button>

                        @*</div>*@
                    </div>
                </div>
                <hr />
            }
        }
    </div>
</div>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script>

    $(document).ready(function () {
        $("#btnNovaPolisa").removeClass("active-tab");
        $("#btnNews").addClass("active-tab");
        $("#btnSearch").removeClass("active-tab");
        $("#btnFNOL").removeClass("active-tab");
        $("#btnAdmin").removeClass("active-tab");
        $("#dodadiKlient").removeClass("active-tab");
        $("#btnCreateUser").removeClass("active-tab");
        $("#btnCreateUser").removeClass("active-tab");
    });

    function deleteNews(newsId) {
        $.ajax({
            type: "POST",
            url: "../News/DeleteNews",
            data: {
                newsId
            },
            dataType: "json",
            success: function (status) {
                if (status["Success"] == "True") {
                    location.reload();
                }
                else {
                    alert(status["Message"]);
                }
            },
            error: function () {
                alert("Something went wrong!");
            }
        });
    }

    $(function () {

        $("#addNewsBtn").click(function () {

            var newsTitle = $("#newsTitle").val();
            var newsContent = $("#newsContent").val();
            var newsIsNotification = $("#newsIsNotification").is(":checked");
            var newsImage = ("#newsImage").val();
            console.log(newsTitle);
            if(newsTittle == undefined)
                alert("no tittle");
            else{
                $.ajax({
                    type: "POST",
                    url: "../News/AddNews",
                    data: {
                        "newsImage": newsImage,
                        "newsTitle": newsTitle,
                        "newsContent": newsContent,
                        "newsIsNotification": newsIsNotification,
                    },
                    dataType: "json",
                    success: function (status) {
                        if (status["Success"] == "True") {
                            location.reload();
                        }
                        else {
                            alert(status["Message"]);
                        }
                    },
                    error: function () {
                        alert("Something went wrong!");
                    }
                });
            }
        
        });

    })
</script>