@using InsuredTraveling.Helpers
@model InsuredTraveling.Models.User

@{
    ViewBag.Title = "Sign up";
}


<form role="form" method="post" action="@Url.Action("Index")" data-otf-ajax="true">
    <h2 class="form-login-heading">Sign up</h2>
    <hr />
    <h4>* Required field</h4>
    <br />
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10" style="margin-bottom:10px">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="glyphicon glyphicon-user"></i></div>
                        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", onblur = "FindUsername()", id = "username", style = "width: 45%" } })
                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "col-md-6 text-danger" })
                        <span style="color:red" id="UsernameMsg"></span>
                    </div>
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10" style="margin-bottom:10px">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="glyphicon glyphicon-user"></i></div>
                        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", style = "width: 45%" } })
                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "col-md-6 text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10" style="margin-bottom:10px">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="glyphicon glyphicon-user"></i></div>
                        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", style = "width: 45%" } })
                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "col-md-6 text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10" style="margin-bottom:10px">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></div>
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", style = "width: 45%" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "col-md-6 text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.EMBG, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10" style="margin-bottom:10px">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="glyphicon glyphicon-user"></i></div>
                        @Html.EditorFor(model => model.EMBG, new { htmlAttributes = new { @class = "form-control", style = "width: 45%" } })
                        @Html.ValidationMessageFor(model => model.EMBG, "", new { @class = "col-md-6 text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10" style="margin-bottom:10px">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="glyphicon glyphicon-map-marker"></i></div>
                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", style = "width: 45%" } })
                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "col-md-6 text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Municipality, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10" style="margin-bottom:10px">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="glyphicon glyphicon-home"></i></div>
                        @Html.EditorFor(model => model.Municipality, new { htmlAttributes = new { @class = "form-control", style = "width: 45%" } })
                        @Html.ValidationMessageFor(model => model.Municipality, "", new { @class = "col-md-6 text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PostalCode, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10" style="margin-bottom:10px">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="glyphicon glyphicon-user"></i></div>
                        @Html.EditorFor(model => model.PostalCode, new { htmlAttributes = new { @class = "form-control", style = "width: 45%" } })
                        @Html.ValidationMessageFor(model => model.PostalCode, "", new { @class = "col-md-6 text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10" style="margin-bottom:10px">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></div>
                        @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control", style = "width: 45%" } })
                        @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "col-md-6 text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.MobilePhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10" style="margin-bottom:10px">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></div>
                        @Html.EditorFor(model => model.MobilePhoneNumber, new { htmlAttributes = new { @class = "form-control", style = "width: 45%", id = "mobilenumber" } })
                        @Html.ValidationMessageFor(model => model.MobilePhoneNumber, "", new { @class = "col-md-6 text-danger" })
                    </div>
                </div>
            </div>



        </div>

        <div class="col-md-6">

            <div class="form-group">
                @Html.LabelFor(model => model.PassportNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10" style="margin-bottom:10px">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="glyphicon glyphicon-user"></i></div>
                        @Html.EditorFor(model => model.PassportNumber, new { htmlAttributes = new { @class = "form-control", style = "width: 45%" } })
                        @Html.ValidationMessageFor(model => model.PassportNumber, "", new { @class = "col-md-6 text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DateOfBirth, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10" style="margin-bottom:10px">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></div>
                        @Html.EditorFor(model => model.DateOfBirth, new { htmlAttributes = new { @class = "form-control placeholder", type = "date", style = "width: 45%" } })
                        @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "col-md-6 text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10" style="margin-bottom:10px">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="glyphicon glyphicon-user"></i></div>
                        @Html.DropDownListFor(model => model.Gender, (List<SelectListItem>)ViewBag.Gender, "-- Select Gender --", new { @class = "form-control", style = "width: 45%" })
                        @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "col-md-6 text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10" style="margin-bottom:10px">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="glyphicon glyphicon-user"></i></div>
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", style = "width: 45%" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "col-md-6 text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10" style="margin-bottom:10px">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="glyphicon glyphicon-user"></i></div>
                        @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", style = "width: 45%" } })
                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "col-md-6 text-danger" })
                    </div>
                </div>
            </div>
                <br />
                <div class="row">
                    <div class="col-md-offset-1 col-md-10">
                        @Html.ReCaptcha()
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-4">
                        <input type="submit" value="Sign Up" onclick="myFunction()" class="btn btn-sm btn-info btn-block" />
                        <div>
                            @if (ViewBag.Message != null)
                            {
                                if (ViewBag.Message == "Registration failed")
                                {
                                    <div class="row">
                                        <div class="alert alert-dismissible alert-danger" style="margin-top: 27%; margin-left:12px; width:211%">
                                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                                            <strong>Oh snap!</strong> <span>@ViewBag.Message</span>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="row">
                                        <div class="alert alert-dismissible alert-success" style="margin-top: 27%;margin-left:12px; width:211%">
                                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                                            <strong>Great!</strong> <span>@ViewBag.Message</span>
                                        </div>
                                    </div>
                                    <script type="text/javascript">
                                        $(document).ready(function () {
                                            setTimeout(function () {
                                                window.location.replace(@System.Configuration.ConfigurationManager.AppSettings["webpage_url"] + "/SignUp/MobilePhoneVerification?username=" + $("#username").val());
                                            }, 3000);

                                            SendSMSCode();
                                            ActivateAccount();
                                        });
                                    </script>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
</form>




<script type="text/javascript">
    $(document).ready(function () {

    });

    function FindUsername() {
        $.ajax({
            type: "POST",
            url: @System.Configuration.ConfigurationManager.AppSettings["webpage_url"] + "/api/account/FindUser",
            data: jQuery.param({ username: $("#username").val() }),
        })
        .done(function (result) {
            $("#UsernameMsg").text(" ");
        })
        .error(function () {
            $("#UsernameMsg").text("Username is already taken!");
        });
    }
    function ActivateAccount() {
        $.ajax({
            type: "POST",
            url: @System.Configuration.ConfigurationManager.AppSettings["webpage_url"] + "/api/account/ActivateAccount?username=" + $("#username").val()
         //   data: jQuery.param({ username: $("#username").val() }),
        })
        .done(function (result) {
        })
        .error(function () {
        });
    }
    function SendSMSCode() {
        $.ajax({
            type: "POST",
            url: @System.Configuration.ConfigurationManager.AppSettings["webpage_url"] + "/api/account/SendSMSCode",
            data: jQuery.param({ username: $("#username").val() }),
        })
        .done(function (result) {
            alert("OK");
        })
        .error(function () {

        });
     }
</script>

