@model InsuredTraveling.Models.AdminPanel
 
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <h2 class="page-header"> @InsuredTraveling.Resource.AdminPanel_Title </h2>
    <br />
    <ul class="nav nav-pills">
        <li class="active"><a data-toggle="pill" href="#home"> @InsuredTraveling.Resource.AdminPanel_Roles </a></li>
        <li><a data-toggle="pill" href="#menu1"> @InsuredTraveling.Resource.AdminPanel_InsuranceSetupTab </a></li>
    </ul>

    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
            <h3 class="text-capitalize"> @InsuredTraveling.Resource.AdminPanel_Roles  </h3>
            <table class="table table-striped table-hover ">
                <thead>
                    <tr>
                        <th>#</th>
                        <th> @InsuredTraveling.Resource.AdminPanel_RoleName </th>
                    </tr>
                </thead>
                <tbody>
                    @if (ViewBag.Roles != null)
                    {
                        int i =0;
                        foreach (var r in ViewBag.Roles)
                        {
                            <tr>
                                <td>@i</td>
                                <td>@r.Name</td>
                                <td><a href=""><span class="glyphicon glyphicon-trash"></span></a></td>
                            </tr>
                            i++;
                        }
                    }
                </tbody>
              </table>
              
            <button class="btn btn-primary" onclick="AddRole()"> @InsuredTraveling.Resource.AdminPanel_AddRoleBtn </button>

            <form id="addRoleForm" class="form-padding" hidden method="post" action="@Url.Action("AddRole")">
                <div class="row">
                    <div class="form-group">
                        <label class="control-label col-md-2">Role Name:</label>
                        <div class="col-md-6" style="margin-bottom:10px">
                            <input type="text" class="form-control" name="Name" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-3" style="margin-bottom:10px">
                            <input type="submit" class="form-control btn btn-success" value="Add" />
                        </div>
                    </div>
                </div>                                        
            </form>
        </div>
        @*Insurance Company setup*@
        <div id="menu1" class="tab-pane fade">
            <h3> @InsuredTraveling.Resource.AdminPanel_InsuranceSetupTab </h3>
            <table class="table table-striped table-hover ">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>@InsuredTraveling.Resource.AdminPanel_ID</th>
                        <th>@InsuredTraveling.Resource.AdminPanel_SMSCode</th>
                        <th>@InsuredTraveling.Resource.AdminPanel_NumAttepmts</th>
                        <th>@InsuredTraveling.Resource.AdminPanel_NumViews</th>
                        <th>@InsuredTraveling.Resource.AdminPanel_Notification</th>
                        <th>@InsuredTraveling.Resource.AdminPanel_NumMessage</th>
                        <th>@InsuredTraveling.Resource.AdminPanel_InsuranceCompany</th>
                        <th>@InsuredTraveling.Resource.AdminPanel_VersionNumber</th>
                    </tr>
                </thead>
                <tbody>
                    @if (ViewBag.Ok_setup != null)
                    {
                        int i = 0;
                        foreach (var r in ViewBag.Ok_setup)
                        {
                            <tr>
                                <td>@i</td>
                                <td>@r.id</td>
                                <td>@r.Sms_Code_Seconds</td>
                                <td>@r.NumberOfAttempts</td>
                                <td>@r.NumberOfNews</td>
                                <td>@r.NotificationTime</td>
                                <td>@r.NumberOfLastMsg</td>
                                <td>@r.InsuranceCompany</td>
                                <td>@r.VersionNumber</td>
                                <td><a href="/AdminPanel/Delete_OK_setup_Record?id=@r.id"><span class="glyphicon glyphicon-trash"></span></a></td>
                            </tr>
                            i++;
                        }
                    }
                </tbody>
            </table>
            <button class="btn btn-primary" onclick="AddOK_SetupRecord()"> @InsuredTraveling.Resource.AdminPanel_AddRecordBtn </button>
            <form id="addOK_setupForm" class="form-padding" hidden method="post" action="@Url.Action("AddOK_setup")">
                <div class="form-horizontal">
                    <h4> @InsuredTraveling.Resource.AdminPanel_RequiredFields *</h4>
                    <div class="form-group">
                        <label class="control-label col-md-2"> @InsuredTraveling.Resource.AdminPanel_SMSCode *:</label>
                        <div class="col-md-6" style="margin-bottom:10px">
                            <input type="text" class="form-control" name="Sms_Code_Seconds" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2"> @InsuredTraveling.Resource.AdminPanel_NumAttepmts * :</label>
                        <div class="col-md-6" style="margin-bottom:10px">
                            <input type="text" class="form-control" name="NumberOfAttempts" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2"> @InsuredTraveling.Resource.AdminPanel_NumViews *:</label>
                        <div class="col-md-6" style="margin-bottom:10px">
                            <input type="text" class="form-control" name="NumberOfNews" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2"> @InsuredTraveling.Resource.AdminPanel_Notification *:</label>
                        <div class="col-md-6" style="margin-bottom:10px">
                            <input type="time" class="form-control" name="NotificationTime" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2"> @InsuredTraveling.Resource.AdminPanel_NumMessage *:</label>
                        <div class="col-md-6" style="margin-bottom:10px">
                            <input type="text" class="form-control" name="NumberOfLastMsg" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2"> @InsuredTraveling.Resource.AdminPanel_InsuranceCompany *:</label>
                        <div class="col-md-6" style="margin-bottom:10px">
                            <input type="text" class="form-control" name="InsuranceCompany" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2"> @InsuredTraveling.Resource.AdminPanel_VersionNumber * :</label>
                        <div class="col-md-6" style="margin-bottom:10px">
                            <input type="text" class="form-control" name="VersionNumber" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-4" style="margin-bottom:10px">
                            <button type="submit" class="form-control btn btn-success">
                                @InsuredTraveling.Resource.AdminPanel_AddRecButton
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    function AddRole() {
        $("#addRoleForm").toggle();
    }
    function AddOK_SetupRecord() {
        $("#menu1").removeAttr('class');
        $("#menu1").attr("class", "tab-pane fade in active");
        $("#addOK_setupForm").toggle();      
    }
</script>