@model InsuredTraveling.Models.PaymentModel
@{ 
    bool? individual = Model.Pat.Travel_Insurance_TypeID == 1;
    bool? group = Model.Pat.Travel_Insurance_TypeID == 2;
    bool? family = Model.Pat.Travel_Insurance_TypeID == 3;
}
<!-- New type of print version for the policy-->
<div class="container">
    <div class="row">
        <div class="col-md-6">
            Тип на покритие / Coverage type:
            @Model.Pat.policy_type.type
        </div>
        <div class="pull-right">
           Број на полиса / Policy number:
            <span class="policy-number">@Model.Pat.Policy_Number</span>             
        </div>
        <div class="col-md-12">
            <h3 class="text-center policy-print-title">ПОЛИСА ЗА ПАТНИЧКО ОСИГУРУВАЊЕ <br />
              TRAVEL INSURANCE POLICY
            </h3>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-12 text-center policy-print-title">ОСИГУРУВАЧ / INSURER</div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-5">
            <p>Агенција / Agency:</p>
        </div>
        <div class="col-md-6">
            <p>INSURED TRAVELING</p>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-12 text-center policy-print-title">ДОГОВАРАЧ / POLICY HOLDER</div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-5">
            <p>Име / Name:</p>
        </div>
        <div class="col-md-6"><p> @Model.Pat.insured.Name @Model.Pat.insured.Lastname</p></div>
    </div>   
    <hr />
    <div class="row">
        <div class="col-md-12 text-center policy-print-title">ОСИГУРЕНИК / INSURED</div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-5">
            <p>Име / Name:</p>
            <p>Адреса / Address:</p>
            <p>Бр. на пасош / Passport no:</p>
            <p>ЕМБГ / Social Security no:</p>
            <p>Датум на раѓање / Date of birth: </p>
        </div>        
        <div class="col-md-5">
            @if (Model.mainInsured != null)
            {
                <p class="">@Model.mainInsured.Name.ToString()  @Model.mainInsured.Lastname.ToString() </p>
                <p class="">@Model.mainInsured.Address</p>
                <p class="">@Model.mainInsured.Passport_Number_IdNumber</p>
                <p class="">@Model.mainInsured.SSN</p>
                <p class="">@Model.mainInsured.DateBirth.ToShortDateString() </p>
            }
        </div>        
    </div>
    <hr />
    <div class="row">
        <div class="col-md-12 text-center policy-print-title">ИНФОРМАЦИИ ЗА ПОЛИСАТА / POLICY INFORMATION</div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-5">
            <p>Датум на издавање / Date of issuance:</p>
        </div>
        <div class="col-md-5">
            <p class="">@Model.Pat.Start_Date.ToString().Substring(0, 10)</p>
        </div>
    </div> 
    <div class="row">
        <div class="col-md-5">
            <p>Место на издавање / Place of issuance:</p>
        </div>
        <div class="col-md-5">
            <p class=""> Р. Македонија / R. Macedonia </p>
        </div>
    </div> 
    <div class="row">
        <div class="col-md-5">
            <p>Вид на полиса / Type of policy: </p>
        </div>
        <div class="col-md-5">
            @if (Model.mainInsured != null)
            {
                if (individual == true)
                {
                    <p class="">ИНДИВИДУАЛНА / INDIVIUAL</p>
                }
                else if (group == true)
                {
                    <p class="">ГРУПНА / GROUP</p>
                }
                else if (family == true)
                {
                    <p class="">СЕМЕЈНА / FAMILY</p>
                }
            }
        </div>
    </div> 
    <div class="row">
        <div class="col-md-5">
            <p>Број на осигуреници / Number of insured:</p> @*samo ako e semejna polisa*@
        </div>
        <div class="col-md-5">
            @if (Model.mainInsured != null)
            {
                if (family == true)
                {
                    <p class=""> 4 </p>
                }
                else
                {
                    <p class=""> 1 </p>
                }
            }
        </div>
    </div> 
    <div class="row">
        <div class="col-md-5">
            <p>Број на патувања / No. of trips: </p>
        </div>
        <div class="col-md-5">
            @{
                bool? SingleTrip = Model.Pat.Travel_NumberID == 1, MultiTrip = Model.Pat.Travel_NumberID == 2;
            }
            @if (SingleTrip == true)
            {
                <p>Едно Патување / Single Trip</p>
            }
            else if (MultiTrip == true)
            {
                <p>Повеќе патувања / Multiple Trips</p>
            }
        </div>
    </div> 
    <div class="row">
        <div class="col-md-5">
            <p>Започнува на / Valid from: </p>
        </div>
        <div class="col-md-5">
            <p class="">@Model.Pat.Start_Date.ToString().Substring(0, 10)</p>
        </div>
    </div> 
    <div class="row">
        <div class="col-md-5">
            <p>Завршува на / Valid until:	</p>
        </div>
        <div class="col-md-5">
            <p class="">@Model.Pat.End_Date.ToString().Substring(0, 10)</p>
        </div>
    </div> 
    <div class="row">
        <div class="col-md-5">
            <p>Осигурани денови / Insured days: </p>
        </div>
        <div class="col-md-5">
            <p class="">@Model.Pat.Valid_Days</p>
        </div>
    </div> 

    <hr/>
    <div class="row">
        <div class="col-md-12 text-center policy-print-title">ИНФОРМАЦИИ ЗА ПРЕМИЈАТА / PREMIUM INFORMATION</div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-5">
            <p>Основна премија / Basic Premium:</p>
        </div>
        <div class="col-md-5">
            <p> @Model.Pat.Total_Premium ден. / den. </p>
        </div>
    </div> 
    <div class="row">
        <div class="col-md-5">
            <p>Доплаток 1 / Additional Premium 1:</p>
        </div>
        <div class="col-md-5">
            <p class="">@Model.additionalCharge1</p>
        </div>
    </div> 
    <div class="row">
        <div class="col-md-5">
            <p>Доплаток 2 / Additional Premium 2:</p>
        </div>
        <div class="col-md-5">
            <p class="">@Model.additionalCharge2</p>
        </div>
    </div> 
    <div class="row">
        <div class="col-md-5">
            <p>Франшиза / Deductible: </p>
        </div>
        <div class="col-md-5">
            <p> @Model.retaining_risk_mk / @Model.retaining_risk </p>
        </div>
    </div> 
    <div class="row">
        <div class="col-md-5">
            <p>Вкупна премија  / Total premium:</p>
        </div>
        <div class="col-md-5">
            <p style="font-weight: bold;">@Model.Pat.Total_Premium ден. / den.</p>
        </div>
    </div> 
    <hr/>
    <div class="row">
        <div class="col-md-12 small">
            *ДДВ: Согласно ЗДДВ, член 23, точка 6, дејноста осигурување е ослободена од плаќање данок без право на одбиток на претходно платен данок. <br/>
            **Осигурувањето важи во сите земји. / Valid for all countries. <br/>
            ***Овластувам болница, лекар или друго лице кое ме придружува или испитува, да побара од Осигурителот или негов претставник, податоци за мојата здравствена состојба и лекување. Го овластувам Осигурителот да побара податоци за мојата здравствена состојба и лекување, во врска со договорот за осигурување. Го ослободувам од обврската за чување на професионална тајна и ги овластувам здравствените институции да ги дадат бараните податоци на Осигурителот.
        </div>
    </div>
    <hr/>
</div>