@model InsuredTraveling.Models.Policy
@using InsuredTraveling.Filters;
@using System.Web.Optimization;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>@InsuredTraveling.Resource.Policy_CreatePolicy</h2>
<form id="policy_form" metod="post">
    <div class="row">
        <div class="loader" style="display:none"></div>
        <div class="form-horizontal">
            <hr />
            <header class="well" id="PolicyPolicyInformation">
                <span class="glyphicon glyphicon-asterisk small" aria-hidden="true" style="color:#E41B17;"></span>
                <a href="javascript:void(0)" id="PolicyPolicyInformation">@InsuredTraveling.Resource.Policy_PolicyInformation</a>
            </header>
            <div id="PolicyPolicyInformationContent" style="display:none;">
                <div class="form-group">
                    <div class="">
                        <div class="col-md-4">
                            @Html.LabelFor(model => model.CountryID, htmlAttributes: new { @class = "control-label" })
                            <div class="inputs-spacing">
                                @Html.DropDownListFor(model => model.CountryID, (List<SelectListItem>)ViewBag.Countries, new { @class = "form-control input-sm", id = "CountryID", onchange = "ChangeType()" })
                                @Html.ValidationMessageFor(model => model.CountryID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            @Html.LabelFor(model => model.Retaining_RiskID, htmlAttributes: new { @class = "control-label" })
                            <div class="inputs-spacing">
                                @Html.DropDownListFor(model => model.Retaining_RiskID, (List<SelectListItem>)ViewBag.Franchise, new { @class = "form-control input-sm" })
                                @Html.ValidationMessageFor(model => model.Retaining_RiskID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            @Html.LabelFor(model => model.Policy_TypeID, htmlAttributes: new { @class = "control-label" })
                            <div class="inputs-spacing">
                                @Html.DropDownListFor(model => model.Policy_TypeID, (List<SelectListItem>)ViewBag.TypeOfPolicy, new { @class = "form-control input-sm", id = "policy_type" })
                                @Html.ValidationMessageFor(model => model.Policy_TypeID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>

                <input type="hidden" id="todayDate" name="todayDate" value="@ViewBag.Date">
                <div class="form-group">
                    <div class="">
                        <div class="col-md-4">
                            @Html.LabelFor(model => model.Start_Date, htmlAttributes: new { @class = "control-label" })
                            <div class="inputs-spacing">
                                @Html.EditorFor(model => model.Start_Date, new { htmlAttributes = new { @class = "form-control input-sm placeholder mandatoryField" } })
                                @Html.ValidationMessageFor(model => model.Start_Date, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <input type="hidden" id="inTenDays" name="inTenDays" value="@ViewBag.DateAfterTenDays">
                            @Html.LabelFor(model => model.End_Date, htmlAttributes: new { @class = "control-label" })
                            <div class="inputs-spacing">
                                @Html.EditorFor(model => model.End_Date, new { htmlAttributes = new { @class = "form-control input-sm placeholder mandatoryField" } })
                                @Html.ValidationMessageFor(model => model.End_Date, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            @Html.LabelFor(model => model.Valid_Days, htmlAttributes: new { @class = "control-label" })
                            <div class="input-group">
                                @Html.EditorFor(model => model.Valid_Days, new { htmlAttributes = new { @class = "form-control input-sm mandatoryField", @style = "position: static;", @min = "1", @max = "10" }})
                                <span class="input-group-addon">@InsuredTraveling.Resource.Policy_Days</span>
                            </div>
                            @Html.ValidationMessageFor(model => model.Valid_Days, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @{
        RoleAuthorize r = new RoleAuthorize();
    }
    @if (r.IsUser("admin"))
    {
        <div class="row">
            <header class="well" id="HolderInformation">
                <span class="glyphicon glyphicon-asterisk small" aria-hidden="true" style="color:#E41B17;"></span>
                <a href="javascript:void(0)" id="HolderInformation">@InsuredTraveling.Resource.Policy_HolderInformation</a>
            </header>
            <div id="HolderInformationContent" style="display:none;">
                <div class="form-group col-md-5">
                    <div class="inputs-spacing">
                        @Html.CheckBoxFor(model => model.IsExistentPolicyHolder, new { @class = "col-md-1", @style = "" }) @InsuredTraveling.Resource.Policy_ExistingUser
                    </div>
                    <div class="hideWhenSelect">
                        @Html.LabelFor(model => model.PolicyHolderName, htmlAttributes: new { @class = "control-label" })
                        <div class="inputs-spacing">
                            @Html.EditorFor(model => model.PolicyHolderName, new { htmlAttributes = new { @class = "form-control input-sm mandatoryField" } })
                            @Html.ValidationMessageFor(model => model.PolicyHolderName, "", new { @class = "text-danger" })
                        </div>
                        @Html.LabelFor(model => model.PolicyHolderLastName, htmlAttributes: new { @class = "control-label" })
                        <div class="inputs-spacing">
                            @Html.EditorFor(model => model.PolicyHolderLastName, new { htmlAttributes = new { @class = "form-control input-sm mandatoryField", } })
                            @Html.ValidationMessageFor(model => model.PolicyHolderLastName, "", new { @class = "text-danger" })
                        </div>
                        @Html.LabelFor(model => model.PolicyHolderAddress, htmlAttributes: new { @class = "control-label" })
                        <div class="inputs-spacing">
                            @Html.EditorFor(model => model.PolicyHolderAddress, new { htmlAttributes = new { @class = "form-control input-sm mandatoryField" } })
                            @Html.ValidationMessageFor(model => model.PolicyHolderAddress, "", new { @class = "text-danger" })
                        </div>
                        @Html.LabelFor(model => model.PolicyHolderCity, htmlAttributes: new { @class = "control-label" })
                        <div class="inputs-spacing">
                            @Html.EditorFor(model => model.PolicyHolderCity, new { htmlAttributes = new { @class = "form-control input-sm mandatoryField", } })
                            @Html.ValidationMessageFor(model => model.PolicyHolderCity, "", new { @class = "text-danger" })
                        </div>
                        @Html.LabelFor(model => model.PolicyHolderPostalCode, htmlAttributes: new { @class = "control-label" })
                        <div class="inputs-spacing">
                            @Html.EditorFor(model => model.PolicyHolderPostalCode, new { htmlAttributes = new { @class = "form-control input-sm mandatoryField" } })
                            @Html.ValidationMessageFor(model => model.PolicyHolderPostalCode, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-5 top-padding">
                    @Html.LabelFor(model => model.PolicyHolderSSN, htmlAttributes: new { @class = "control-label" })
                    <div class="inputs-spacing">
                        @Html.EditorFor(model => model.PolicyHolderSSN, new { htmlAttributes = new { @class = "form-control input-sm mandatoryField" } })
                        @Html.ValidationMessageFor(model => model.PolicyHolderSSN, "", new { @class = "text-danger" })
                    </div>
                    <div class="hideWhenSelect">
                        @Html.LabelFor(model => model.PolicyHolderBirthDate, htmlAttributes: new { @class = "control-label" }) <br />
                        <div class="inputs-spacing">
                            <div class='input-group date field-size-holder' id='datetimepicker1'>
                                @Html.EditorFor(model => model.PolicyHolderBirthDate, new { htmlAttributes = new { @class = "form-control input-sm placeholder mandatoryField datepicker-size", @max = ViewBag.Date } })
                                <span class="input-group-addon" style="width: 55px; border-radius: 2px;">
                                    <span class="glyphicon glyphicon-calendar">
                                    </span>
                                </span>
                                @Html.ValidationMessageFor(model => model.PolicyHolderBirthDate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @*@Html.LabelFor(model => model.PolicyHolderBirthDate, htmlAttributes: new { @class = "control-label" })
                            <div class="inputs-spacing">
                                @Html.EditorFor(model => model.PolicyHolderBirthDate, new { htmlAttributes = new { @class = "form-control input-sm placeholder mandatoryField", type = "date", @max = ViewBag.Date } })
                                @Html.ValidationMessageFor(model => model.PolicyHolderBirthDate, "", new { @class = "text-danger" })
                            </div>*@
                        @Html.LabelFor(model => model.PolicyHolderPassportNumber_ID, htmlAttributes: new { @class = "control-label" })
                        <div class="inputs-spacing">
                            @Html.EditorFor(model => model.PolicyHolderPassportNumber_ID, new { htmlAttributes = new { @class = "form-control input-sm mandatoryField" } })
                            @Html.ValidationMessageFor(model => model.PolicyHolderPassportNumber_ID, "", new { @class = "text-danger" })
                        </div>
                        @Html.LabelFor(model => model.PolicyHolderEmail, htmlAttributes: new { @class = "control-label" })
                        <div class="inputs-spacing">
                            @Html.EditorFor(model => model.PolicyHolderEmail, new { htmlAttributes = new { @class = "form-control input-sm mandatoryField" } })
                            @Html.ValidationMessageFor(model => model.PolicyHolderEmail, "", new { @class = "text-danger" })
                        </div>
                        @Html.LabelFor(model => model.PolicyHolderPhoneNumber, htmlAttributes: new { @class = "control-label" })
                        <div class="inputs-spacing">
                            @Html.EditorFor(model => model.PolicyHolderPhoneNumber, new { htmlAttributes = new { @class = "form-control input-sm mandatoryField", } })
                            @Html.ValidationMessageFor(model => model.PolicyHolderPhoneNumber, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    @*Insured information*@
    <div class="row">
        <header class="well" id="InsuredInformation">
            <span class="glyphicon glyphicon-asterisk small" aria-hidden="true" style="color:#E41B17;"></span>
            <a href="javascript:void(0)" id="InsuredInformation">
                @InsuredTraveling.Resource.Policy_InsuredInformation
            </a>
            @if (r.IsUser("end user"))
            {
                @Html.CheckBoxFor(model => model.IsSamePolicyHolderInsured, new { @class = "checkbox-policyholder", @ariahidden = "false" })
                <p class="checkbox-label">
                    @InsuredTraveling.Resource.Policy_IamInsured
                </p>
            }
            @if (r.IsUser("admin"))
            {
                @Html.CheckBoxFor(model => model.IsSamePolicyHolderInsured, new { @class = "checkbox-policyholder", @ariahidden = "false", @id= "IsSamePolicyHolderInsuredAdmin" })
                <p class="checkbox-label">
                    @InsuredTraveling.Resource.Policy_HolderSameInsured
                </p>
            }

        </header>
        <div id="InsuredInformationContent" style="display:none;">
            <div id="hideWhenSamePerson">
                <div class="form-inline">
                    <div class="form-group col-sm-6">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                        <div class="inputs-spacing">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control input-sm mandatoryField insuredData field-size" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                        @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label" })
                        <div class="inputs-spacing">
                            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control input-sm mandatoryField insuredData field-size", } })
                            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                        </div>
                        @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label" })
                        <div class="inputs-spacing">
                            @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control input-sm mandatoryField insuredData field-size", } })
                            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                        </div>
                        @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label" })
                        <div class="inputs-spacing">
                            @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control input-sm mandatoryField insuredData field-size", } })
                            @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                        </div>
                        @Html.LabelFor(model => model.PostalCode, htmlAttributes: new { @class = "control-label" })
                        <div class="inputs-spacing">
                            @Html.EditorFor(model => model.PostalCode, new { htmlAttributes = new { @class = "form-control input-sm mandatoryField insuredData field-size", } })
                            @Html.ValidationMessageFor(model => model.PostalCode, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.SSN, htmlAttributes: new { @class = "control-label" })
                        <div class="inputs-spacing">
                            @Html.EditorFor(model => model.SSN, new { htmlAttributes = new { @class = "form-control input-sm mandatoryField insuredData field-size" } })
                            @Html.ValidationMessageFor(model => model.SSN, "", new { @class = "text-danger" })
                        </div>
                        @Html.LabelFor(model => model.BirthDate, htmlAttributes: new { @class = "control-label" }) <br />
                        <div class="inputs-spacing">
                            <div class='input-group date field-size' id='datetimepicker2'>
                                @Html.EditorFor(model => model.BirthDate, new { htmlAttributes = new { @class = "form-control input-sm placeholder mandatoryField insuredData datepicker-size" } })
                                <span class="input-group-addon" style="width: 55px; border-radius: 2px;">
                                    <span class="glyphicon glyphicon-calendar">
                                    </span>
                                </span>
                                @Html.ValidationMessageFor(model => model.BirthDate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @*@Html.LabelFor(model => model.BirthDate, htmlAttributes: new { @class = "control-label" })
                            <div class="inputs-spacing">
                                @Html.EditorFor(model => model.BirthDate, new { htmlAttributes = new { @class = "form-control input-sm placeholder mandatoryField insuredData field-size" } })
                                @Html.ValidationMessageFor(model => model.BirthDate, "", new { @class = "text-danger" })
                            </div>*@
                        @Html.LabelFor(model => model.PassportNumber_ID, htmlAttributes: new { @class = "control-label" })
                        <div class="inputs-spacing">
                            @Html.EditorFor(model => model.PassportNumber_ID, new { htmlAttributes = new { @class = "form-control input-sm mandatoryField insuredData field-size" } })
                            @Html.ValidationMessageFor(model => model.PassportNumber_ID, "", new { @class = "text-danger" })
                        </div>
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
                        <div class="inputs-spacing">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control input-sm mandatoryField insuredData field-size" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                        @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label" })
                        <div class="inputs-spacing">
                            @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control input-sm mandatoryField insuredData field-size" } })
                            @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @* Policy data *@
    <div class="row">
        <header class="well" id="PolicyData">
            <span class="glyphicon glyphicon-asterisk small" aria-hidden="true" style="color:#E41B17;"></span>
            <a href="javascript:void(0)" id="PolicyData">@InsuredTraveling.Resource.Policy_PolicyData</a>
        </header>
        <div id="PolicyDataContent" style="display:none;">
            <div class="">
                <div class="col-md-2">
                    <div class="form-inline">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Travel_Insurance_TypeID, htmlAttributes: new { @class = "control-label" })
                            <div class="checkbox-container">
                                <label class="radio-inline ">
                                    <input type="radio" checked="checked" name="Travel_Insurance_TypeID" , value="1" id="single_type" class="checkbox-position" />
                                    @*@Html.RadioButtonFor(model => model.Travel_Insurance_TypeID, "true", new { @value = "1", id = "single_type" })*@
                                    <label for="radio1" checked="checked">@InsuredTraveling.Resource.Policy_PolicySingle</label>
                                </label>
                                <br />
                                <label class="radio-inline hideItem">
                                    <input type="radio" name="Travel_Insurance_TypeID" , value="2" id="family_type" class="checkbox-position" />
                                    @*@Html.RadioButtonFor(model => model.Travel_Insurance_TypeID, "true", new { @value = "2", id = "family_type" })*@
                                    <label for="radio1">@InsuredTraveling.Resource.Policy_PolicyFamily</label>
                                </label>
                                <br />
                                <label class="radio-inline hideItem">
                                    <input type="radio" name="Travel_Insurance_TypeID" , value="3" id="group_type" class="checkbox-position" />
                                    @*@Html.RadioButtonFor(model => model.Travel_Insurance_TypeID, "true", new { @value = "3", id = "group_type" })*@
                                    <label for="radio1">@InsuredTraveling.Resource.Policy_PolicyGroup</label>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-horizontal" id="family" hidden>
                    @for (int i = 0; i < 6; i++)
                    {
                        <div class="form-inline col-md-offset-3" style="margin-top:20px;">
                            <div class="form-group col-md-4 col-sm-4">
                                <div><label>@InsuredTraveling.Resource.Policy_InsuredName:</label></div>
                                @Html.EditorFor(model => model.insureds[i].Name, new { htmlAttributes = new { @class = "form-control input-sm", } })
                            </div>
                            <div class="form-group col-md-4 col-sm-4">
                                <div><label>@InsuredTraveling.Resource.Policy_InsuredLastName:</label></div>
                                @Html.EditorFor(model => model.insureds[i].Lastname, new { htmlAttributes = new { @class = "form-control input-sm", } })
                            </div>
                            <div class="form-group col-md-4 col-sm-4">
                                <div><label>@InsuredTraveling.Resource.Policy_InsuredSSN:</label></div>
                                @Html.EditorFor(model => model.insureds[i].SSN, new { htmlAttributes = new { @class = "form-control input-sm", } })
                            </div>
                        </div>
                        <br />
                    }
                </div>
                <div class="form-horizontal" id="group" hidden>
                    <div class="form-group col-md-2 col-sm-2">
                        @Html.LabelFor(model => model.Group_Members, htmlAttributes: new { @class = "control-label" })
                        <div class="inputs-spacing">
                            @Html.EditorFor(model => model.Group_Members, new { htmlAttributes = new { @class = "form-control input-sm" } })
                            @Html.ValidationMessageFor(model => model.Group_Members, "", new { @class = "text-danger" })
                        </div>
                        @Html.LabelFor(model => model.Group_Total_Premium, htmlAttributes: new { @class = "control-label" })
                        <div class="inputs-spacing">
                            @Html.EditorFor(model => model.Group_Total_Premium, new { htmlAttributes = new { @class = "form-control input-sm" } })
                            @Html.ValidationMessageFor(model => model.Group_Total_Premium, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-horizontal">
                    <div class="col-md-4">
                        <div><label>@InsuredTraveling.Resource.Policy_AddOn</label></div>
                        @for (int k = 1; k < 3; k++)
                        {
                            var i = k - 1;
                            var val = k + 1;
                            var addid = "additional_charges_" + i + "__ID";
                            <input id="@addid" type="checkbox" value="@val" name="additional_charges[@i].ID" style="width:4%;" class="" /> <label>@ViewBag.additional_charges[k].Text</label> <br />
                        }
                    </div>
                </div>
            </div>
                <div class="col-md-2">
                    <div class="form-inline">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Travel_NumberID, htmlAttributes: new { @class = "control-label" })
                            <div class="checkbox-container">
                                <label class="radio-inline">
                                    <input type="radio" name="Travel_NumberID" checked="checked" value="1" class="numberTrips checkbox-position" />
                                    @*@Html.RadioButtonFor(model => model.Travel_NumberID, "true", new { @value = "1", @text = "Едно патување" })*@
                                    <label for="radio1" checked="checked">@InsuredTraveling.Resource.Policy_OneTrip</label>
                                </label>
                                <br />
                                <label class="radio-inline">
                                    <input type="radio" name="Travel_NumberID" value="2" class="numberTrips checkbox-position" />
                                    @*@Html.RadioButtonFor(model => model.Travel_NumberID, "true", new { @value = "2", @text = "Повеќе патувања" })*@
                                    <label for="radio1">@InsuredTraveling.Resource.Policy_MoreTrip</label>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="row">
        <div class="col-md-4 btns-position">
            <div class="form-inline">
                <div class="form-group">
                    <div>
                        <input type="button" target="" id="calculateTotalPremium" value="@InsuredTraveling.Resource.Policy_CalculatePremium" class="btn btn-default btn-block" onclick="CalculateTotalPremium()" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 btns-position">
            <div class="form-group totalPremium">
                @Html.LabelFor(model => model.Total_Premium, htmlAttributes: new { @class = "control-label", @id = "totalPremiumLabel" })
                <div>
                    <div class="input-group">
                        @Html.EditorFor(model => model.Total_Premium, new { htmlAttributes = new { @class = "", style = "width: 100px; border:none; font-size:24px; color:red; font-weight:bold;", id = "totalPremium", @readonly = "true" } })
                    </div>
                </div>
            </div>
            <div>
                <label id="errorMessage" style="color:red"></label>
            </div>
        </div>
        <div class="col-md-4">
            <p id="locationError"></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-4 btns-position">
            <!-- So JS se dodavaat formaction="/Payment/Index"
            formmethod="post" -->
            <input type="submit" value="@InsuredTraveling.Resource.Policy_BuyPolicy" class="btn btn-success hideMe btn-padding btn-block customButton" id="buyPolicyBtn"  formmethod="post" formaction="/Payment/Index" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="form-group col-md-2 col-sm-2 btns-position">
            <div>
                <input type="button" id="AddOffer" value="@InsuredTraveling.Resource.Policy_AddOffer" class="btn btn-default btn-block hideMe" />
            </div>
        </div>

        <div class="form-group col-md-2 col-sm-2 btns-position">
            <div>
                <input type="submit" id="printOffers" formmethod="post" formaction="/Policy/RedirectPrintOffer" class="btn btn-default btn-block hideMe" value="@InsuredTraveling.Resource.Policy_PrintOffer" />
            </div>
        </div>
        <div id="successMsg" class="col-md-4 col-sm-4">
            <div class="alert alert-dismissible alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <span>Успешно ја додадовте полисата во понуди. Број на понуда <span style="font-weight:bold;" id="ReturnedQuoteNumber"></span> </span>
            </div>
        </div>
        <div id="failMsg" class="col-md-4 col-sm-4">
            <div class="alert alert-dismissible alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <span>Полисата не беше додадена успешно!</span>
            </div>
        </div>
    </div>
</form>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/additional-methods.js"></script>
<!-- macedonian language-->
<script src="~/Scripts/messages_is.js"></script>
@Scripts.Render("~/bundles/jqueryui")
@Styles.Render("~/Content/jqueryuicss")
@Styles.Render("~/Content/loader")
<script type="text/javascript">
    $(document).ready(function () {
        $("#successMsg").hide();
        $("#failMsg").hide();
        $("#Valid_Days").val(10);

        $('#Valid_Days').on('focusout', function () {
            if ($(this).val() > 10) {
                if ($(this).val() > ($('#Valid_Days').attr('max'))) {
                    $(this).val(($('#Valid_Days').attr('max')));
                }
            }
        });

        $('#AddOffer').on('click', function () {
            $.ajax({
                type: 'POST',
                url: '@System.Configuration.ConfigurationManager.AppSettings["webpage_url"]/Policy/CreateQuote',
                data: $('#policy_form').serialize(),
                success: function (result) {
                    console.log(result.numberQuote);
                    $("#ReturnedQuoteNumber").text(result.numberQuote);
                    $("#successMsg").show();
                },
                error: function () {
                    $("#failMsg").show();
                }
            });
        });

        $("#policy_type option[value='2']").attr("selected", "selected");

        $('#datetimepicker1').datetimepicker({
            viewMode: 'years',
            format: 'DD/MM/YYYY'
        });

        $('#datetimepicker2').datetimepicker({
            viewMode: 'years',
            format: 'DD/MM/YYYY'
        });

        $(".hideMe").hide();
        $("#totalPremium").hide();
        $("#totalPremiumLabel").hide();
        $("#family").hide();
        $("#group").hide();

        $("#single_type").click(function () {
            $("#family").hide();
            $("#group").hide();
        });
        $("#family_type").click(function () {
            $("#family").show()
            $("#group").hide();
        });
        $("#group_type").click(function () {
            $("#family").hide();
            $("#group").show();
        });

        $("#CountryID").val(1);
        $("#Policy_TypeID").val(1);
        $("#Retaining_RiskID").val(2);

        getLocation();

    });

    $(".mandatoryField, #Policy_TypeID, #Retaining_RiskID, #CountryID, .numberTrips, #additional_charges_1__ID, #additional_charges_0__ID, #single_type, #family_type, #group_type").on('change', function () {
        $(".hideMe").hide();
    })

    $(".input-sm, .text-box").keypress(function (event) {
        var ew = event.which;
        console.log(ew);
        if (ew == 32)
            return true;
        if (46 <= ew && ew <= 57)
            return true;
        if (64 <= ew && ew <= 90)
            return true;
        if (97 <= ew && ew <= 122)
            return true;
        return false;
    });

    function ValidateFields() {
        var flag = true;

        $.each($('.mandatoryField'), function () {
            if ($(this).val().length == "") {
                flag = false;
            }
        });
        if ($("#Valid_Days").val() == 0)
            flag = false;
        return flag;
    }

    var objects = document.getElementsByClassName("mandatoryField");
    var i = 0;

    function CalculateTotalPremium() {
        var flag = ValidateFields();
        console.log(flag);

        // Front end validation
        for (i = 0; i < objects.length; i++) {
            if (objects[i].value.length == 0) {
                objects[i].setAttribute("style", "border: 1px solid red;");
            }
            else {
                objects[i].setAttribute("style", "border: 1px solid #2c3e50;");
            }
        }

        if (flag) {
            $("#errorMessage").text("");
            $(".loader").css("display", "inline");
            $.ajax({
                type: "POST",
                url: "@System.Configuration.ConfigurationManager.AppSettings["webpage_apiurl"]/api/Premium/Calculate",
                data: $("#policy_form").serialize(),
                success: function (result) {
                    $(".loader").css("display", "none");
                    console.log(result.PremiumAmount);
                    $("#totalPremium").val(result.PremiumAmount);
                    $("#totalPremium").show();
                    $("#totalPremiumLabel").show();
                    $(".hideMe").show();
                    $("#errorMessage").text(" ");

                    $('html,body').animate({
                        scrollTop: $("#printOffers").offset().top
                    }, 800);

                },
                error: function (result) {
                    $(".loader").css("display", "none");
                    $(".hideMe").hide();
                    $("#totalPremiumLabel").hide();
                    $("#totalPremium").val("");
                    $("#errorMessage").text((JSON.parse(result.responseText)).Message);
                }
            });
        }
        else {
            $(".hideMe").hide();
            $("#totalPremiumLabel").hide();
            $("#totalPremium").val("");
            if ($("#Valid_Days").val() == 0) {
                $("#errorMessage").text("@InsuredTraveling.Resource.Policy_ValidDate");
            }
            else {
                $("#errorMessage").text("@InsuredTraveling.Resource.Policy_FillData");
            }
        }

    }

    $('#dugme').on('submit', function (e) {
        if (!valid) {
            e.preventDefault();
        }
    });

    $("#policyForm").validate({
        rules: {
            EMBG: {
                required: true,
                number: true,
                minlength: 13,
                maxlength: 13
            },
            osigurenik1MaticenBroj: {
                required: true,
                number: true,
                minlength: 13,
                maxlength: 13
            }
        }
    });
    jQuery.validator.setDefaults({
        debug: true,
        success: "valid",

    });
    var form = $("#policyForm");
    form.validate({

        lang: 'is'

    });

    $("#dugme").click(function () {
        if (form.valid() == true) {
            var data = $("#policyForm").serialize();
            $.ajax({
                type: "POST",
                url: "CreatePolicy",
                data: data,
                success: function () {

                }
            });
        }
    });

    $("#Start_Date").datepicker({
        dateFormat: "mm/dd/yy",
        onSelect: function (selected) {
            $("#End_Date").datepicker("option", "minDate", selected);
            var startDate = new Date($("#Start_Date").val()).getTime();
            var endDate = new Date($("#End_Date").val()).getTime();
            if (startDate != null && endDate != null) {
                c = 24 * 60 * 60 * 1000;
                var validDays = Math.floor((endDate - startDate) / c) + 1;
                $("#Valid_Days").attr({
                    "max": validDays
                });
                $("#Valid_Days").val(validDays);
            }
        }
    });

    $("#End_Date").datepicker({
        dateFormat: "mm/dd/yy",
        onSelect: function (selected) {
            $("#Start_Date").datepicker("option", "maxDate", selected);

            var startDate = new Date($("#Start_Date").val()).getTime();
            var endDate = new Date($("#End_Date").val()).getTime();
            if (startDate != null && endDate != null) {
                c = 24 * 60 * 60 * 1000;
                var validDays = Math.floor((endDate - startDate) / c) + 1;
                $("#Valid_Days").attr({
                    "max": validDays
                });
                $("#Valid_Days").val(validDays);
            }
        }
    });



    //$("#BirthDate").datepicker({
    //    dateFormat: "mm/dd/yy",
    //    onSelect: function (selected) {
    //    },
    //});

    //Dali treba ovaa funkcija??
    //$("#vaziDenovi").focusin(function () {
    //    var Sdat = new Date($("#startDate").val());
    //    var Edat = new Date($("#endDate").val());
    //    if ($('#povekePatuvanja').is(':checked')) {
    //        $("#vaziDenovi").attr('min', 15);
    //    }
    //    else {
    //        $("#vaziDenovi").attr('min', 2);
    //    }

    //});

    $("#SSN").keydown(function (e) {
        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
            (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
            (e.keyCode >= 35 && e.keyCode <= 40)) {
            return;
        }
        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
            e.preventDefault();
        }
    });

    $("#IsExistentPolicyHolder").change(function () {
        if (this.checked) {
            $(".hideWhenSelect").hide();
            $("#PolicyHolderSSN").removeClass("mandatoryField");
            $("#PolicyHolderName").removeClass("mandatoryField");
            $("#PolicyHolderLastName").removeClass("mandatoryField");
            $("#PolicyHolderAddress").removeClass("mandatoryField");
            $("#PolicyHolderSSN").removeClass("mandatoryField");
            $("#PolicyHolderPostalCode").removeClass("mandatoryField");
            $("#PolicyHolderBirthDate").removeClass("mandatoryField");
            $("#PolicyHolderPassportNumber_ID").removeClass("mandatoryField");
            $("#PolicyHolderEmail").removeClass("mandatoryField");
            $("#PolicyHolderPhoneNumber").removeClass("mandatoryField"); PolicyHolderCity
            $("#PolicyHolderCity").removeClass("mandatoryField");
        }
        else {
            $(".hideWhenSelect").show();
        }
    });

    $("#IsSamePolicyHolderInsuredAdmin").change(function () {
        if (this.checked) {
            if ($("#IsExistentPolicyHolder").is(':checked')) {
                $.ajax({
                    type: "GET",
                    url: "/Policy/GetExistentInsuredUserData?ssn=" + $("#PolicyHolderSSN").val(),
                    success: function (result) {
                        var rez = JSON.parse(result);
                        console.log(rez);
                        $("#Name").val(rez.InsuredData.FirstName);
                        $("#LastName").val(rez.InsuredData.Name);
                        $("#Address").val(rez.InsuredData.Address);
                        $("#City").val(rez.InsuredData.City);
                        $("#PostalCode").val(rez.InsuredData.PostalCode);
                        $("#SSN").val(rez.InsuredData.Ssn);
                        $("#BirthDate").val(rez.InsuredData.DateBirth);
                        $("#PassportNumber_ID").val(rez.InsuredData.PassportID);
                        $("#Email").val(rez.InsuredData.Email);
                        $("#PhoneNumber").val(rez.InsuredData.PhoneNumber);
                    }
                });
            } else {
                $("#Name").val($("#PolicyHolderName").val());
                $("#LastName").val($("#PolicyHolderLastName").val());
                $("#Address").val($("#PolicyHolderAddress").val());
                $("#City").val($("#PolicyHolderCity").val());
                $("#PostalCode").val($("#PolicyHolderPostalCode").val());
                $("#SSN").val($("#PolicyHolderSSN").val());
                $("#BirthDate").val($("#PolicyHolderBirthDate").val());
                $("#PassportNumber_ID").val($("#PolicyHolderPassportNumber_ID").val());
                $("#Email").val($("#PolicyHolderEmail").val());
                $("#PhoneNumber").val($("#PolicyHolderPhoneNumber").val());
            }
        }
        else {
            $("#hideWhenSamePerson").show();
            $("#hideWhenSamePerson .form-control").prop('readonly', false);
            $(".insuredData").val("");

        }
    });

    $("#IsSamePolicyHolderInsured").change(function () {
        if (this.checked) {
            $.ajax({
                type: "GET",
                url: "/Policy/GetExistentLoggedInUserData",
                success: function (result) {
                    var rez = JSON.parse(result);
                    console.log(rez);
                    $("#Name").val(rez.InsuredData.FirstName);
                    $("#LastName").val(rez.InsuredData.Name);
                    $("#Address").val(rez.InsuredData.Address);
                    $("#City").val(rez.InsuredData.City);
                    $("#PostalCode").val(rez.InsuredData.PostalCode);
                    $("#SSN").val(rez.InsuredData.Ssn);
                    $("#BirthDate").val(rez.InsuredData.DateBirth);
                    $("#PassportNumber_ID").val(rez.InsuredData.PassportID);
                    $("#Email").val(rez.InsuredData.Email);
                    $("#PhoneNumber").val(rez.InsuredData.PhoneNumber);
                }
            });
            }
        else {
            $("#hideWhenSamePerson").show();
            $("#hideWhenSamePerson .form-control").prop('readonly', false);
            $(".insuredData").val("");

        }
    });
    var future = new Date();
    $("#Start_Date").val($.datepicker.formatDate("mm/dd/yy", new Date(future.setDate(future.getDate() + 1))));
    $("#End_Date").val($.datepicker.formatDate("mm/dd/yy", new Date(future.setDate(future.getDate() + 9))));

    $('#PolicyPolicyInformation').click(function () {
        $("#PolicyPolicyInformationContent").toggle();

    });
    $('#HolderInformation').click(function () {
        $("#HolderInformationContent").toggle();

    });
    $('#InsuredInformation').click(function () {
        $("#InsuredInformationContent").toggle();

    });
    $('#PolicyData').click(function () {
        $("#PolicyDataContent").toggle();

    });

    function ChangeType() {
        var v = $("#CountryID option:selected").val();
        console.log(v);
        if (v == 3) {
            $("#policy_type option[value='1']").show();
            $("#policy_type option[value='2']").show();
            $("#policy_type option[value='3']").hide();
            $("#policy_type option[value='4']").show();
            $("#policy_type option[value='5']").hide();
        } else if (v == 2) {
            $("#policy_type option[value='5']").hide();
            $("#policy_type option[value='1']").show();
            $("#policy_type option[value='2']").show();
            $("#policy_type option[value='3']").show();
            $("#policy_type option[value='4']").hide();
        } else if (v == 1) {
            $("#policy_type option[value='5']").hide();
            $("#policy_type option[value='1']").show();
            $("#policy_type option[value='2']").show();
            $("#policy_type option[value='3']").show();
            $("#policy_type option[value='4']").hide();
        } else if (v == 4) {
            $("#policy_type option[value='5']").show();
            $("#policy_type option[value='1']").show();
            $("#policy_type option[value='2']").show();
            $("#policy_type option[value='3']").hide();
            $("#policy_type option[value='4']").hide();
        }

    }

    // Check the user's location
    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        } else {
            x.innerHTML = "Geolocation is not supported by this browser.";
        }
    }

    function showPosition(position) {
        //  x.innerHTML = "Latitude: " + position.coords.latitude +
        //  "<br>Longitude: " + position.coords.longitude;
        $.getJSON('http://ws.geonames.org/countryCode', {
            lat: position.coords.latitude,
            lng: position.coords.longitude,
            type: 'JSON',
            username: 'demo'
        }, function (result) {
            console.log(result.countryName);
            /* Location not allowed na Chrome, treba da se podesi vo Advanced settings */
            result.countryName = "Macedonia";
            console.log(result.countryName);
            if (result.countryName == "Macedonia") {
                var submitBtn = document.getElementById("buyPolicyBtn");

                submitBtn.setAttribute("formmethod", "post");
                submitBtn.setAttribute("formaction", "/Payment/Index");
                submitBtn.setAttribute("type", "submit");
            }
            else {
                console.log(1);
                $("#locationError").text("Не може да купите полиса ако сте надвор од Македонија!");
                $("#locationError").css("display", "none"); //block
                $("#buyPolicyBtn").prop('disabled', true);
            }
        });
    }

</script>