@model InsuredTraveling.Models.SalePoints
@using System.Web.Optimization;
@using System.Configuration;
@{
    ViewBag.Title = "SalePoints";
    Layout = "~/Views/Shared/_LayoutLimitless.cshtml";
}

<h2>@Resource.SalePoint_New</h2>
<form id="eventForm" method="post" action="@Url.Action("AddSalePoint")" enctype="multipart/form-data">

   
    <div class="col-md-5">
        <div class="form-group">
            <label class="control-label"> @Resource.SalePoint_LocationName <span class="glyphicon glyphicon-asterisk small" aria-hidden="true" style="color:#E41B17;font-size: 10px;"></span></label>
            @Html.EditorFor(model => model.LocationName, new { htmlAttributes = new { @class = "form-control input-sm", @id = "spLocation" } })
        </div>
    </div>
  
    <div class="col-md-5">
        <div class="form-group">
            <label class="control-label"> @Resource.SalePoint_Municipality <span class="glyphicon glyphicon-asterisk small" aria-hidden="true" style="color:#E41B17;font-size: 10px;"></span></label>
            @Html.EditorFor(model => model.Municipality, new { htmlAttributes = new { @class = "form-control input-sm", @id = "spMunicipality" }})
        </div>
    </div>

   <div class="col-md-5">
        <div class="form-group">
            <label class="control-label"> @Resource.SalePoint_Street <span class="glyphicon glyphicon-asterisk small" aria-hidden="true" style="color:#E41B17;font-size: 10px;"></span></label>
            @Html.EditorFor(model => model.Street, new { htmlAttributes = new { @class = "form-control input-sm", @id = "spStreet" } })
        </div>
    </div>

    <div class="col-md-5">
        <div class="form-group">
            <label class="control-label"> @Resource.SalePoint_PostalCode <span class="glyphicon glyphicon-asterisk small" aria-hidden="true" style="color:#E41B17;font-size: 10px;"></span></label>
            @Html.EditorFor(model => model.PostalCode, new { htmlAttributes = new { @class = "form-control input-sm", @id = "spPostalCode" } })
        </div>
    </div>

    <div class="col-md-5">
        <div class="form-group">
            <label class="control-label"> @Resource.SalePoint_OpeningHours <span class="glyphicon glyphicon-asterisk small" aria-hidden="true" style="color:#E41B17;font-size: 10px;"></span></label>
            @Html.EditorFor(model => model.OpeningHours, new { htmlAttributes = new { @class = "form-control input-sm", @id = "spOpeningHours" } })
        </div>
    </div>

    <div class="col-md-5">
        <div class="form-group">

            <label class="control-label"> @Resource.SalePoint_PhoneNumber <span class="glyphicon glyphicon-asterisk small" aria-hidden="true" style="color:#E41B17;font-size: 10px;"></span></label>
            @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control input-sm", @id = "spPhoneNum" } })
        </div>
    </div>

    <div class="col-md-5">
        <div class="form-group">
            <label class="control-label"> @Resource.SalePoint_InsuranceDeal <span class="glyphicon glyphicon-asterisk small" aria-hidden="true" style="color:#E41B17;font-size: 10px;"></span></label>
            @Html.CheckBoxFor(model => (bool) model.insuranceDeal, new { htmlAttributes = new { @class = "form-control input-sm", @id = "spInsuranceDeal"} })
        </div>
    </div>

    <div class="col-md-5">
        <div class="form-group">
            <label class="control-label"> @Resource.SalePoint_DamageReport <span class="glyphicon glyphicon-asterisk small" aria-hidden="true" style="color:#E41B17;font-size: 10px;"></span></label>
            @Html.CheckBoxFor(model => (bool) model.damageReport, new { htmlAttributes = new { @class = "form-control input-sm ", @id = "spDamageReport" } })
        </div>
    </div>
    
    <div class="col-md-5">
    <div class="form-group">
        <input type="submit" style=" margin-bottom:100px;" value="@InsuredTraveling.Resource.SalePoint_Add" class="btn btn-success">
    </div>
    </div>

   @* <div class="col-md-7">
        <div class="form-group">
            <label class="control-label"> @Resource.Events_EventType <span class="glyphicon glyphicon-asterisk small" aria-hidden="true" style="color:#E41B17;font-size: 10px;"></span></label>
            <div class="inputs-spacing">
                @Html.DropDownListFor(model => model.EventType, (List<SelectListItem>)ViewBag.EventTypes, new { @class = "form-control input-sm", id = "EventType" })
                @Html.ValidationMessageFor(model => model.EventType, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>*@
   
</form>

