@model InsuredTraveling.Models.FirstNoticeOfLossReportViewModel
@using System.Configuration;
@{
    ViewBag.Title = InsuredTraveling.Resource.FNOL_ViewTitle;
    var noValue = "/";
}
 @if (ViewBag.Message != null && ViewBag.Message == "Successfully reported!")
 {
    <div class="row" style="width:35%;">
        <div class="alert alert-dismissible alert-success" style="margin-top: 27%;margin-left:12px; width:211%">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <span>@InsuredTraveling.Resource.FNOL_SuccessfullyAddedFNOL</span>
        </div>
    </div>
 }
    <div class="form-horizontal">
        <h3>@InsuredTraveling.Resource.FNOL_Number @Model.FNOLNumber</h3>
        <hr />
        <div class="row container">
            <div class="col-md-4">
                <div class="form-group">
                    <div class="col-lg-7">
                        <label>@InsuredTraveling.Resource.FNOL_PolicyNumber: </label>
                        <label>
                            @Model.PolicyNumber
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <div class="col-lg-7" style="font-size: 18px;">
                            <a href="/Policy/PolicyDetails?policyNumber=@Model.PolicyNumber" target="_blank">@Resource.PolicyPreview</a>
                    </div>
                </div>
            </div>
            @if (!Model.IsArchived)
            {
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="col-lg-7">
                            <button type="button" style="float:right;" class="btn btn-success btn-material-design" onclick="@("window.location.href='" + @Url.Action("Edit", "FirstNoticeOfLoss", new { id = Model.Id}) + "'");"> <i class="glyphicon glyphicon-edit"></i></button>
                        </div>
                    </div>
                </div>
            }           
        </div>
        <div class="row container">
            <header class="well">@InsuredTraveling.Resource.FNOL_PolicyHolderInfo</header>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="col-lg-8">
                        <label>@InsuredTraveling.Resource.FNOL_Name:</label>
                        @Model.PolicyHolderName
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-8">
                        <label>@InsuredTraveling.Resource.FNOL_Address:</label>
                        @Model.PolicyHolderAdress                    
                    </div>
                </div>  
                <div class="form-group">
                    <div class="col-lg-8">
                        <label>@InsuredTraveling.Resource.FNOL_Phone:</label>
                        @Model.PolicyHolderPhoneNumber

                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-8">
                        <label>@InsuredTraveling.Resource.FNOL_SSN:</label>
                        @Model.PolicyHolderSsn                    
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="col-lg-6">
                        <label>@InsuredTraveling.Resource.FNOL_BankAccount:</label>
                        @Model.PolicyHolderBankAccountNumber
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-6">
                       <label>@InsuredTraveling.Resource.FNOL_Bank:</label>
                       @Model.PolicyHolderBankName
                    </div>                   
                </div>
            </div>
        </div>
        <div class="row container">
            <header class="well">@InsuredTraveling.Resource.FNOL_InsuredInfo</header>
            <div class="col-md-6">
                    <div class="form-group">
                        <div class="col-lg-7">
                            <label>@InsuredTraveling.Resource.FNOL_Name:</label>
                            @Model.ClaimantName
                        </div>
                    </div>
                <div class="form-group">
                    
                    <div class="col-lg-7">
                        <label> @InsuredTraveling.Resource.FNOL_Address:</label>
                        @Model.ClaimantAdress                   
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-7">
                        <label>@InsuredTraveling.Resource.FNOL_Phone:</label>
                        @Model.ClaimantPhoneNumber                                      
                    </div>
                </div>
                <div class="form-group">
                  <div class="col-lg-7">
                        <label>@InsuredTraveling.Resource.FNOL_SSN:</label>                        
                        @Model.ClaimantSsn
                    </div>
                </div>
                @if (Model.PolicyHolderId != Model.ClaimantId)
                {
                    <div class="form-group">
                        <div class="col-lg-7">
                            <label>@InsuredTraveling.Resource.FNOL_RelationshipInsuredHolder:</label>
                            @if (Model.RelationClaimantPolicyHolder!=null)
                            {
                                @Model.RelationClaimantPolicyHolder
                            }
                            else
                            {
                                @noValue
                            }
                        </div>
                    </div>
                }
             
            </div>
            <div class="col-md-6">          
                <div class="form-group">
                    <div class="col-lg-7">
                        <label>@InsuredTraveling.Resource.FNOL_BankAccount:</label>
                        @Model.ClaimantBankAccountNumber
                    </div>
                </div>
                <div class="form-group">
                    
                    <div class="col-lg-7">
                        <label>@InsuredTraveling.Resource.FNOL_Bank:</label>
                        @Model.ClaimantBankName
                    </div>
                </div>
            </div>
        </div>
        <div class="row container">
            <header class="well">@InsuredTraveling.Resource.FNOL_TravelInformation</header>
            <div class="col-md-6">
                <div class="form-group">                   
                    <div class="col-lg-7">
                        <label>@InsuredTraveling.Resource.FNOL_TravelPlace:</label>
                        @Model.Destination
                    </div>
                </div>
                <div class="form-group">                  
                    <div class="col-lg-7">
                        <label>@InsuredTraveling.Resource.FNOL_StartDate:</label>   
                        @Model.DepartDateTime.Date.ToString(@ConfigurationManager.AppSettings["DateFormat"].ToString())             
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-7">
                        <label>@InsuredTraveling.Resource.FNOL_StartTime:</label>                       
                        @Model.DepartTime
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="col-lg-7">
                        <label>@InsuredTraveling.Resource.FNOL_Vehicle:</label>
                          @Model.TransportMeans
                    </div>
                </div>
                <div class="form-group">
                   <div class="col-lg-7">
                        <label>@InsuredTraveling.Resource.FNOL_EndDate:</label>
                         @Model.ArrivalDateTime.Date.ToString(@ConfigurationManager.AppSettings["DateFormat"].ToString())    
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-7">
                        <label>@InsuredTraveling.Resource.FNOL_EndTime:</label>
                        @Model.ArriveTime
                    </div>
                </div>
            </div>
        </div>
        @if (Model.IsHealthInsurance)
        {
            <div class="row container">
                <header class="well">@InsuredTraveling.Resource.FNOL_HealthInsuranceInfo</header>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="col-lg-7">
                            <label>@InsuredTraveling.Resource.FNOL_AccidentDate:</label>
                            @if (Model.AccidentDateTimeHealth.HasValue)
                            {
                                @Model.AccidentDateTimeHealth.Value.Date.ToString(@ConfigurationManager.AppSettings["DateFormat"].ToString())
                            }
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-7">
                            <label>@InsuredTraveling.Resource.FNOL_AccidentTime:</label>
                            @Model.AccidentTimeHealth
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-7">
                            <label>@InsuredTraveling.Resource.FNOL_AccidentPlace:</label>
                            @Model.AccidentPlaceHealth
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-7">
                            <label>@InsuredTraveling.Resource.FNOL_DateWhenDoctorVisit:</label>
                            @if (Model.DoctorVisitDateTime.HasValue)
                            {
                                @Model.DoctorVisitDateTime.Value.Date.ToString(@ConfigurationManager.AppSettings["DateFormat"].ToString())
                            }
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-7">
                            <label>@InsuredTraveling.Resource.FNOL_DoctorInfo:</label>
                            @Model.DoctorInfo
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="col-lg-7">
                            <label>@InsuredTraveling.Resource.FNOL_DiseaseDescription:</label>
                            @Model.MedicalCaseDescription
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-7">
                            <label>@InsuredTraveling.Resource.FNOL_PreviousDiseaseHistory:</label>
                            @if(Model.PreviousMedicalHistory)
                            {
                                var valueYes = "Да";
                                @valueYes
                            }
                            else
                            {
                                var valueNo = "Не";
                                @valueNo
                            }
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-7">
                            <label>@InsuredTraveling.Resource.FNOL_DocumentsAsProof:</label>
                            <br />
                            <table>
                                @if (Model.InsuranceInfoDoc != null)
                                {
                                    foreach (var doc in Model.InsuranceInfoDoc)
                                    {
                                        <tr>
                                            <td>
                                                @if (!String.IsNullOrEmpty(doc.FilePath))
                                                {
                                                    <a href="/FirstNoticeOfLoss/DocumentDownload/?path=@doc.FilePath">@doc.FileName</a>
                                                }
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    @noValue
                                }
                               
                            </table>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-7">
                            <label>@InsuredTraveling.Resource.FNOL_ReportWroted:</label>
                            @Model.ResponsibleInstitution
                        </div>
                       
                    </div>
                </div>

            </div>
        }
        else
        {
            <div class="row container">
                <header class="well">@InsuredTraveling.Resource.FNOL_LuggageInsurance</header>
                <div class="col-md-6">
                    <div class="form-group">

                        <div class="col-lg-7">
                            <label>@InsuredTraveling.Resource.FNOL_AccidentDate:</label>
                            @if (Model.AccidentDateTimeLuggage.HasValue)
                            {
                                @Model.AccidentDateTimeLuggage.Value.Date.ToString(@ConfigurationManager.AppSettings["DateFormat"].ToString())
                            }
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-7">
                            <label>@InsuredTraveling.Resource.FNOL_AccidentPlace:</label><br />
                            @Model.AccidentPlaceLuggage
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-7">
                            <label>@InsuredTraveling.Resource.FNOL_AccidentDescription:</label>
                            @Model.PlaceDescription
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-7">
                            <label>@InsuredTraveling.Resource.FNOL_AccidentDescriptionDetails:</label>
                            @Model.DetailDescription
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-7">
                            <label> @InsuredTraveling.Resource.FNOL_ReportPlace:</label><br />
                            @Model.ReportPlace
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="col-lg-7">
                            <label>@InsuredTraveling.Resource.FNOL_FloatersDescription:</label>
                            @Model.Floaters
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-7">
                            <label>@InsuredTraveling.Resource.FNOL_FloatersValue:</label>
                            @Model.FloatersValue
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-7">
                            <label>@InsuredTraveling.Resource.FNOL_DocumentsAsProof :</label>
                            <br/>
                            <table>
                                @if (Model.InsuranceInfoDoc != null)
                                {
                                    foreach (var doc in Model.InsuranceInfoDoc)
                                    {
                                        <tr>
                                            <td>
                                                @if (!String.IsNullOrEmpty(doc.FilePath))
                                                {
                                                    <a href="/FirstNoticeOfLoss/DocumentDownload/?path=@doc.FilePath">@doc.FileName</a>
                                                }
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    @noValue
                                }
                            </table>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-7">
                            <label>@InsuredTraveling.Resource.FNOL_AirportTimeArrival :</label>
                            @Model.AccidentTimeLuggage
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-7">
                            <label>@InsuredTraveling.Resource.FNOL_LuggageCheckInTime :</label>
                            @Model.LugaggeCheckingTime
                        </div>
                    </div>
                </div>
            </div>
        }
        <div class="row container">
            <header class="well">@InsuredTraveling.Resource.FNOL_CostInformation</header>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="col-lg-7">
                        <label>@InsuredTraveling.Resource.FNOL_InvoicesAsProof:</label>
                        <br/>
                        <table>
                            @if (Model.Invoices != null)
                            {
                                foreach (var invoice in Model.Invoices)
                                {
                                    <tr>
                                        <td>
                                            @if (!String.IsNullOrEmpty(invoice.FilePath))
                                            {
                                                <a href="/FirstNoticeOfLoss/DocumentDownload/?path=@invoice.FilePath">@invoice.FileName</a>
                                            }
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                @noValue
                            }
                        </table>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-7">
                        <label>@InsuredTraveling.Resource.FNOL_TotalCost:</label>
                        <div class="input-group">
                            @Model.TotalCost
                            <span class="input-group-addon">.00 денари</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

@if (ViewBag.insurance == "Health Insurance")
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#health").attr("checked", "true");
            $("#hiddenIsHealthInsurance").prop("checked", true);
            $("#healthInsurance").toggle();
            
        });
    </script>
}
else if (ViewBag.insurance == "Luggage Insurance")
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#luggage").attr("checked", "true");
            $("#hiddenIsHealthInsurance").prop("checked", false);
            $("#luggageInsurance").toggle();
        });
    </script>
}

