@{HtmlHelper.UnobtrusiveJavaScriptEnabled = true;}
@model InsuredTravelingEntity
@{
    ViewBag.Title = "Search";
}

<br />
<br />

<div>
    <ul class="nav nav-pills">
        <li id="polycies" class="active"><a href="#" onclick="ShowPolycies()">Полиси</a></li>
        <li id="clients"><a href="#" onclick="ShowClients()">Клиенти</a></li>
        <li id="first_notice_of_loss"><a href="#" onclick="ShowFNOL()">Штети </a></li>
    </ul>

    <!--Table search result of policies -->
    <div class="container" id="searchPolycies">
        <br />
        <br />
        <div class="row">
            <form method="post" style="margin-left: 20px">
                <div class="row">
                    @*<input type="search" id="namePolicy" class="input-sm" placeholder="Search by name" />
                        <input type="search" id="embgPolicy" class="input-sm" placeholder="Search by EMBG" />
                        <input type="search" id="land" class="input-sm" placeholder="Search by Land" />
                        <input type="search" id="addressPolicy" class="input-sm" placeholder="Search by Address" />
                        <input type="search" id="agency" class="input-sm" placeholder="Search by Agency" />*@
                    <div class="form-inline row">
                        <div class="form-group col-sm-3">
                            <label for="vidPolisa">Вид полиса :</label>
                            <br />
                            @Html.DropDownListFor(model => model.policy_type, (List<SelectListItem>)ViewBag.TypeOfPolicy, "-- Type of policy --", new { @class = "form-control", name = "TypePolycies", id = "TypePolicy" })
                        </div>
                        <div class="form-group col-sm-3">
                            <label for="country">Земја на патување:</label>
                            @Html.DropDownListFor(model => model.countries, (List<SelectListItem>)ViewBag.Countries, "-- Country --", new { @class = "form-control", name = "Country", id = "Country" })
                        </div>
                    </div>
                    <div class="form-inline row">
                        <div class="form-group col-sm-3">
                            <label for="startDate">Датум на важење од:</label>
                            <input type="date" id="startDate" class="form-control placeholder" />
                            <select id="operatorStartDate">
                                <option>&lt</option>
                                <option>=</option>
                                <option>&gt</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-3">
                            <label for="endDate">Датум на завршување на важење:</label>
                            <input type="date" name="endDate" class="form-control" id="endDate" />
                            <select id="operatorEndDate">
                                <option>&lt</option>
                                <option>=</option>
                                <option>&gt</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-inline row">
                        <div class="form-group col-sm-3">
                            <label for="startDate">Датум на издавање:</label>
                            <input type="date" class="form-control placeholder" id="dateI" />
                            <select id="operatorDateI">
                                <option>&lt</option>
                                <option>=</option>
                                <option>&gt</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-3">
                            <label for="endDate">Датум на сторнирање:</label>
                            <input type="date" id="dateS" class="form-control" />
                            <select id="operatorDateS">
                                <option>&lt</option>
                                <option>=</option>
                                <option>&gt</option>
                            </select>
                        </div>
                    </div>

                </div>
                <br />
                <input id="btnSubmit" class="btn btn-primary btn-material-design-success" value="Search" onclick="SearchPolycies()" type="button" />
                <br />
            </form>
            <div class="row">
                <div class="col-md-offset-11 hover-tooltip">
                    <button type="button" class="btn btn-success btn-circle btn-lg btn-material-design" data-toggle="tooltip" title="Додади нова полиса" onclick="@("window.location.href='" + @Url.Action("Index", "Policy") + "'");"><i class="glyphicon glyphicon-plus"></i></button>
                </div>
            </div>
        </div>
        <br />
        <br />
        <br />

        <div class="row">
            <table style="width: 100%;" class="table table-bordered table-hover table-striped" id="tablePolicies">
                <thead>
                    <tr>
                        <th>Број на полиса</th>
                        <th>Земја на патување</th>
                        <th>Вид полиса</th>
                        <th>Важи од</th>
                        <th>Важи до</th>
                        <th>Датум на издавање</th>
                        <th>Датум на сторнирање</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="searchResultPolycies"></tbody>
            </table>
        </div>
    </div>

    <!--Table search result of clients -->
    <div class="container" id="searchClients">
        <br />
        <br />
        <div class="row">
            <form method="post" style="margin-left:20px;">
                <div class="row">
                    <input type="search" name="name" class="input-sm" placeholder="Search by name" id="name" />
                    <input type="search" name="embg" class="input-sm" placeholder="Search by EMBG" id="embg" />
                    <input type="search" name="address" class="input-sm" placeholder="Search by Address" id="address" />
                    <input type="search" name="city" class="input-sm" placeholder="Search by City" id="city" />
                    <input type="search" name="postal_code" class="input-sm" placeholder="Search by postal code" id="postal_code" />
                    <input type="search" name="phone" class="input-sm" placeholder="Search by phone number" id="phone" />
                    <input type="search" name="email" class="input-sm" placeholder="Search by email" id="email" />
                    <input type="search" name="passport" class="input-sm" placeholder="Search by passport" id="passport" />
                </div>
                <br />
                <br />
            </form>
        </div>
        <br />
        <br />
        <br />
        <div class="row">
            <div class="col-md-12 hover-tooltip">
                <input id="btnSubmit" class="btn btn-primary btn-material-design-success" value="Search" onclick="SearchClients()" type="button" style="float:left;" />
                <button type="button" class="btn btn-success btn-circle btn-lg btn-material-design" data-toggle="tooltip" style="float:right;" title="Додади нов клиент" onclick="@("window.location.href='" + @Url.Action("Create", "Client") + "'");"><i class="glyphicon glyphicon-plus"></i></button>
            </div>
        </div>
        <br />
        <br />
        <br />

        <div class="row">
            <table style="width: 100%;" class="table table-bordered table-hover table-striped" id="tableClients">
                <thead>
                    <tr>
                        <th>Број на клиент</th>
                        <th>Име и презиме</th>
                        <th>Матичен број</th>
                        <th>Улица</th>
                        <th>Град</th>
                        <th>Поштенски број</th>
                        <th>Телефонски број</th>
                        <th>Емаил адресa</th>
                        <th>Број на пасош</th>
                    </tr>
                </thead>
                <tbody id="searchResultClients"></tbody>
            </table>
        </div>
    </div>

    <!--Table search result of first notice of loss -->
    <div class="container" id="searchFNOL">
        <br />
        <br />
        <div class="row">
            <form method="post" style="margin-left: 20px">
                <div class="row">
                    <div class="form-inline row">
                        <div class="form-group col-sm-3">
                            <label for="vidPolisa">Број на полиса :</label>
                            <br />
                            @Html.DropDownListFor(model => model.travel_policy, (List<SelectListItem>)ViewBag.Policies, "-- Број на полиса --", new { @class = "form-control", name = "PolicyNumber", id = "PolicyNumber" })
                        </div>
                        <div class="form-group col-sm-3">
                            <label for="startDate">Датум на пријавување:</label>
                            <input type="date" class="form-control placeholder" id="DateAdded" />
                            <select id="operatorDateAdded">
                                <option>&lt</option>
                                <option>=</option>
                                <option>&gt</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-inline row">
                        <div class="form-group col-sm-3">
                            <label for="startDate">Име на осигуреник:</label>
                            <input type="search" name="clientName" class="input-sm" placeholder="Search by name" id="clientName" />
                        </div>
                        <div class="form-group col-sm-3">
                            <label for="endDate">Презиме на осигуреник:</label>
                            <input type="search" name="clientLastName" class="input-sm" placeholder="Search by last name" id="clientLastName" />
                        </div>
                    </div>
                    <div class="form-inline row">
                        <div class="form-group col-sm-3">
                            <label for="startDate">Име на оштетеник:</label>
                            <input type="search" name="insuredName" class="input-sm" placeholder="Search by name" id="insuredName" />
                        </div>
                        <div class="form-group col-sm-3">
                            <label for="endDate">Презиме на оштетеник:</label>
                            <input type="search" name="insuredLastName" class="input-sm" placeholder="Search by last name" id="insuredLastName" />
                        </div>
                    </div>
                    <div class="form-inline row">
                        <div class="form-group col-sm-3">
                            <label for="startDate">Вкупна цена на трошоци:</label>
                            <input type="search" name="totalPrice" class="input-sm" placeholder="Search by Total Cost" id="totalPrice" />
                        </div>
                        <div class="form-group col-sm-3">
                             <input type="radio" name="typeInsurance" value="healthInsurance"> Здравествено осигурување<br>
                             <input type="radio" name="typeInsurance" value="luggageInsurance">Осигурување на багаж<br>
                        </div>
                    </div>
               </div>
                    <br />
                    <input id="btnSubmit" class="btn btn-primary btn-material-design-success" value="Search" onclick="SearchFNOL()" type="button" />
                    <br />
            </form>
            <div class="row">
                <div class="col-md-offset-11 hover-tooltip">
                    <button type="button" class="btn btn-success btn-circle btn-lg btn-material-design" data-toggle="tooltip" title="Додади нова штета" onclick="@("window.location.href='" + @Url.Action("Index", "Policy") + "'");"><i class="glyphicon glyphicon-plus"></i></button>
                </div>
            </div>
        </div>
        <br />
        <br />
        <br />   
        <div class="row">
            <table style="width: 100%;" class="table table-bordered table-hover table-striped" id="tableFNOL">
                <thead>
                    <tr>
                        <th>Број на полиса</th>
                        <th>Име и презиме на осигуреник</th>
                        <th>Име и презиме на оштетениот</th>
                        <th>Сродство на оштетениот со осигуреникот</th>
                        <th>Вкупна цена на трошоците</th>
                        <th>Датум на пријавување</th>
                        <th>Здраствено осигурување ДА/НЕ</th>
                        <th>Осигурување на багаж ДА/НЕ</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="row" style="margin-top:100px;">
            <form class="form-horizontal" id="HealthInsuranceForm" hidden>
                <fieldset>
                    <legend class="text-center">Пријава за штета од патничко осигурување</legend>
                    <div class="row container">
                        <header class="well">Податоци за осигуреник</header>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Осигуреник:</label>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control input-sm" id="InsuredName" readonly>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Адреса:</label>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control input-sm" id="insuredAddress" readonly value="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Телефон:</label>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control input-sm" id="InsuredPhone" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">ЕМБГ:</label>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control input-sm" id="InsuredEmbg" readonly>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Трансакциона с-ка:</label>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control input-sm" id="insuredTransaction" readonly>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Депонент банка:</label>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control input-sm" id="InsuredDeponent" readonly>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row container">
                        <header class="well">Корисник на осигурувањето</header>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Оштетен:</label>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control input-sm" id="ClaimantName" readonly>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Адреса:</label>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control input-sm" id="ClaimantAddress" readonly value="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Телефон:</label>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control input-sm" id="ClaimantPhone" readonly>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Сродство со осигуреникот::</label>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control input-sm" id="ClaimantInsuredRelation" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">ЕМБГ:</label>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control input-sm" id="ClaimantEmbg" readonly>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Трансакциона с-ка:</label>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control input-sm" id="ClaimantTransaction" readonly>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Депонент банка:</label>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control input-sm" id="ClaimantDeponent" readonly>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row container">
                        <header class="well">Податоци за патувањето</header>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Место на патуање:</label>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control input-sm" id="TravelLand" readonly>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Превозно средство:</label>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control input-sm" id="TypeTransport" readonly value="">
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Датум и време на заминување:</label>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control input-sm" id="DateTimeTripStart" readonly>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Датум и време на враќање:</label>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control input-sm" id="DateTimeTripEnd" readonly>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row container" hidden id="healthInsurance">
                        <header class="well">Податоци за штетата - Здраствено осигурување</header>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Датум, време и место на незгодата:</label>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control input-sm" id="DateTimePlaceLoss" readonly>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Прв контакт со докторот и негови податоци:</label>
                                <div class="col-lg-8">
                                    <textarea type="text" class="form-control input-sm" id="FirstContactWithDoctor" readonly value=""> </textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Опис на болеста и дали претходно сте биле лекувани од истата:</label>
                                <div class="col-lg-8">
                                    <textarea type="text" class="form-control input-sm" id="Disease_description" readonly></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Документи приложени како доказ:</label>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control input-sm" id="DocumentsOfProof" readonly>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Во случај на тешка повреда или смрт, кој орган составил записник и детален опис на настанот :</label>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control input-sm" id="Additional_info" readonly>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row container" hidden id="luggageInsurance">
                        <header class="well">Податоци за штетата - Осигурување на багаж</header>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Датум на настанот:</label>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control input-sm" id="Date_of_loss" readonly>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Место и опис на настанот:</label>
                                <div class="col-lg-8">
                                    <textarea type="text" class="form-control input-sm" id="Place_desc_of_loss" readonly value=""> </textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Детален опис на настанот:</label>
                                <div class="col-lg-8">
                                    <textarea type="text" class="form-control input-sm" id="Detailed_description" readonly></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Место на пријавување:</label>
                                <div class="col-lg-8">
                                    <textarea type="text" class="form-control input-sm" id="Place_reported" readonly></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Опис на украдените/оштетени предмети и нивната вредност:</label>
                                <div class="col-lg-8">
                                    <textarea type="text" class="form-control input-sm" id="Desc_of_stolendamaged_things" readonly></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Документи приложени како доказ :</label>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control input-sm" id="DocumentsOfProof2" readonly>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Време на пристигнување на аеродром :</label>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control input-sm" id="AirportArrivalTime" readonly>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Време на предавање на багаж :</label>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control input-sm" id="LuggageDropTime" readonly>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row container">
                        <header class="well">Податоци за трошоци</header>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Фактури како доказ:</label>
                                <div class="col-lg-8">
                                    <textarea type="text" class="form-control input-sm" id="Additional_documents_handed" readonly></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Вкупна вредност на сите трошоци:</label>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control input-sm" id="AllCosts" readonly value="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Датум на пријавување:</label>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control input-sm" id="Date" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>

        </div>

    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        $(".hover-tooltip button").tooltip('show');
        $("#searchClients").hide();
        $("#searchFNOL").hide();
        $("#tableClients").DataTable().destroy();
        var table = $("#tableClients").DataTable();
        $("#tablePolicies").DataTable().destroy();
        $("#tablePolicies").DataTable();
        $("#tableFNOL").DataTable().destroy();
        $("#tableFNOL").DataTable();
    });

    $("#DateI").focusout(function () {
        var Sdat = $("#DateI").val();
        $("#startDate").attr('min', Sdat);
        $("#endDate").attr('min', Sdat);
        $("#DateS").attr('min', Sdat);

    });

    $("#endDate").focusout(function () {
        var Edat = $("#endDate").val();
        $("#DateS").attr('max', Edat);
        $("#startDate").attr('max', Edat);
    });

    function ShowClients() {
        $("#searchPolycies").hide();
        $("#searchFNOL").hide();
        $("#searchClients").show();
        $("#polycies").removeAttr("class");
        $("#first_notice_of_loss").removeAttr("class");
        $("#clients").attr("class", "active");
    };

    function ShowPolycies() {
        $("#searchPolycies").show();
        $("#searchFNOL").hide();
        $("#searchClients").hide();
        $("#clients").removeAttr("class");
        $("#first_notice_of_loss").removeAttr("class");
        $("#polycies").attr("class", "active");
    };


    function ShowFNOL() {
        $("#searchPolycies").hide();
        $("#searchFNOL").show();
        $("#searchClients").hide();
        $("#clients").removeAttr("class");
        $("#polycies").removeAttr("class");
        $("#first_notice_of_loss").attr("class", "active");
    };

    function SearchPolycies() {
        $("#tablePolicies").DataTable().destroy();
        $("#tablePolicies").DataTable({
            dom: "Bfrtip",
            ajax: "@System.Configuration.ConfigurationManager.AppSettings["webpage_url"]/Search/GetPolicies?name=" + $("#namePolicy").val() + "&embg=" + $("#embgPolicy").val() + "&land=" + $("#land").val() + "&address=" + $("#addressPolicy").val() + "&agency=" + $("#agency").val() + "&TypePolicy=" + $("#TypePolycies").val() + "&Country=" + $("#Country").val() + "&startDate=" + $("#startDate").val() + "&endDate=" + $("#endDate").val() + "&dateI=" + $("#dateI").val() + "&dateS=" + $("#dateS").val() + "&operatorStartDate=" + $("#operatorStartDate").val() + "&operatorEndDate=" + $("#operatorEndDate").val() + "&operatorDateI=" + $("#operatorDateI").val() + "&operatorDateS=" + $("#operatorDateS").val(),
            columns: [
               { data: "Polisa_Broj" },
               { data: "Country" },
               { data: "Policy_type" },
               { data: "Zapocnuva_Na" },
               { data: "Zavrsuva_Na" },
               { data: "Datum_Na_Izdavanje" },
               { data: "Datum_Na_Storniranje" },
               {
                   data: "Polisa_Broj",
                   "render": function (data, type, row, meta) {
                       if (type === 'display') {
                           var value = data;
                           return $('<a>')
                               .attr('href', '/Policy/PrintPolicy?id=' + data)
                               .attr('target', '_blank')
                               .attr('class', 'details')
                               .text("Детали")
                               .wrap('<div></div>')
                               .parent()
                               .html();
                       } else {
                           return data;
                       }
                   }
               },
               {
                   data: "Polisa_Id",
                   "render": function (data, type, row, meta) {
                       if (type === 'display') {
                           return $('<a>')
                               .attr('href', 'javascript:;')
                               .attr('class', 'loss')
                               .attr('id', data)
                               .text("Штети")
                               .wrap('<div></div>')
                               .parent()
                               .html();
                       } else {
                           return data;
                       }
                   }
               },
               {
                   data: "Polisa_Id",
                   "render": function (data, type, row, meta) {
                       if (type === 'display') {
                           return $('<a>')
                               .attr('href', '/FirstNoticeOfLoss/Index?policyId=' + data)
                               .attr('class', 'newLoss')
                               .attr('id', data)
                               .text("Пријави штета")
                               .wrap('<div></div>')
                               .parent()
                               .html();
                       } else {
                           return data;
                       }
                   }
               }

            ],
            select: true
        });

        $('#tablePolicies tbody').on('click', 'td .loss', function () {
            var $row = $(this).closest('td');
            var policy_num = $row.children().attr('id');
            CreateFNOLTableByPolicyNumber(policy_num);

        });
    };

    function CreateFNOLTableByPolicyNumber(policy_number) {
        $("#tableFNOL").DataTable().destroy();
        var table = $("#tableFNOL").DataTable({
            dom: "Bfrtip",
            ajax: "@System.Configuration.ConfigurationManager.AppSettings["webpage_url"]/Search/GetFNOLByPolicyNumber?number=" + policy_number,
            columns: [
                    { data: "ID" },
                    { data: "PolicyNumber" },
                    { data: "InsuredName" },
                    { data: "ClaimantPersonName" },
                    { data: "Claimant_insured_relation" },
                    { data: "AdditionalDocumentsHanded" },
                    { data: "AllCosts" },
                    { data: "Date" },
                    { data: "HealthInsurance" },
                    { data: "LuggageInsurance" },
                     {
                         data: "ID",
                         "render": function (data, type, row, meta) {
                             if (type === 'display') {
                                 var value = data;
                                 return $('<a>')
                                     .attr('href', '/FirstNoticeOfLoss/View?id=' + data)
                                     .attr('target', '_blank')
                                     .attr('class', 'lossDetails')
                                     .text("Детали")
                                     .wrap('<div></div>')
                                     .parent()
                                     .html();
                             } else {
                                 return data;
                             }
                         }
                     },
                  ],
            select: true
        });

        $("#searchFNOL").css("display", "block");
        $("#searchFNOLAttributes").css("display", "none");
    }

    function CreateFNOLTable() {
        $("#tableFNOL").DataTable().destroy();
        var table = $("#tableFNOL").DataTable({
            dom: "Bfrtip",
            ajax: "@System.Configuration.ConfigurationManager.AppSettings["webpage_url"]/Search/GetFNOL",
            columns: [
                { data: "ID" },
                { data: "PolicyNumber" },
                { data: "InsuredName" },
                { data: "ClaimantPersonName" },
                { data: "Claimant_insured_relation" },
                { data: "AdditionalDocumentsHanded" },
                { data: "AllCosts" },
                { data: "Date" },
                { data: "HealthInsurance_Y/N" },
                { data: "LuggageInsurance_Y/N" }
            ],
            select: true
        });
    }
    function SearchFNOL() {

        CreateFNOLTable();

        $('#tableFNOL tbody').on('click', 'tr', function () {
            $("#HealthInsuranceForm").hide();
            var $row = $(this).closest('tr');
            var LossID = table.row($row).data();
            console.log(LossID.ID);
            $.ajax({
                type: "POST",
                url: "Search/FNOLDetails?lossID=" + LossID.ID,
                contentType: "json",
                success: function (result) {
                    console.log((JSON.parse(result)).data[0].AllCosts);
                    var fnol = (JSON.parse(result)).data[0];
                    $("#InsuredName").attr("value", fnol.InsuredName);
                    $("#insuredAddress").attr("value", fnol.InsuredAddress);
                    $("#InsuredPhone").attr("value", fnol.InsuredPhone);
                    $("#InsuredEmbg").attr("value", fnol.InsuredEmbg);
                    $("#InsuredTransaction").attr("value", fnol.InsuredTransaction);
                    $("#InsuredDeponent").attr("value", fnol.InsuredDeponentBank);

                    $("#ClaimantName").attr("value", fnol.ClaimantPersonName);
                    $("#ClaimantAddress").attr("value", fnol.ClaimantPersonAddress);
                    $("#ClaimantPhone").attr("value", fnol.ClaimantPersonPhone);
                    $("#ClaimantEmbg").attr("value", fnol.ClaimantPersonEMBG);
                    $("#ClaimantTransaction").attr("value", fnol.ClaimantPersonTransaction);
                    $("#ClaimantDeponent").attr("value", fnol.ClaimantPersonDeponentBank);
                    $("#ClaimantInsuredRelation").attr("value", fnol.ClaimantInsuredRelation);

                    $("#TravelLand").attr("value", fnol.LandTrip);
                    $("#TypeTransport").attr("value", fnol.TypeTransport);
                    $("#DateTimeTripStart").attr("value", fnol.TripStartDate);
                    $("#DateTimeTripEnd").attr("value", fnol.TripEndDate);

                    $("#Additional_documents_handed").attr("value", fnol.AdditionalDocumentsHanded);
                    $("#AllCosts").attr("value", fnol.AllCosts);
                    $("#Date").attr("value", fnol.Date);

                    if (fnol.HealthInsurance_YN == "Da") {
                        $("#DateTimePlaceLoss").attr("value", fnol.Date_of_accsident);
                        $("#FirstContactWithDoctor").attr("value", fnol.Doctor_data);
                        $("#Disease_description").attr("value", fnol.Disease_description);
                        $("#DocumentsOfProof").attr("value", fnol.DocumentsOfProof);
                        $("#Additional_info").attr("value", fnol.Additional_info);
                        $("#healthInsurance").show();
                    } else {
                        $("#Date_of_loss").attr("value", fnol.Date_of_loss);
                        $("#Place_desc_of_loss").attr("value", fnol.Place_desc_of_loss);
                        $("#Detailed_description").attr("value", fnol.Detailed_description);
                        $("#Place_reported").attr("value", fnol.Place_reported);
                        $("#Desc_of_stolendamaged_things").attr("value", fnol.Desc_of_stolen_damaged_things);
                        $("#AirportArrivalTime").attr("value", fnol.AirportArrivalTime);
                        $("#LuggageDropTime").attr("value", fnol.LuggageDropTime);
                        $("#DocumentsOfProof2").attr("value", fnol.Documents_proof2);
                        $("#luggageInsurance").show();
                    }
                    $("#HealthInsuranceForm").show();
                }
            });
        });
    };


    function SearchClients() {
        $("#tableClients").DataTable().destroy();
        var table = $("#tableClients").DataTable({
            dom: "Bfrtip",
            ajax: "@System.Configuration.ConfigurationManager.AppSettings["webpage_url"]/Search/GetUsers?name=" + $("#name").val() + "&embg=" + $("#embg").val() + "&email=" + $("#email").val() + "&address=" + $("#address").val() + "&phone=" + $("#phone").val() + "&postal_code=" + $("#postal_code").val() + "&passport=" + $("#passport").val() + "&city=" + $("#city").val(),
            columns: [
    { data: "Id" },
    { data: "FirstName" },
    { data: "EMBG" },
    { data: "Address" },
    { data: "City" },
    { data: "PostalCode" },
    { data: "PhoneNumber" },
    { data: "Email" },
    { data: "PassportNumber" }
    ],
    select: true
    });

    $('#tableClients tbody').on('click', 'tr', function () {
        var $row = $(this).closest('tr');
        var data = table.row($row).data();
        console.log(data.Id);
    });
    };
</script>





