
@{HtmlHelper.UnobtrusiveJavaScriptEnabled = true;}
@model InsuredTravelingEntity
@using InsuredTraveling.Filters
@using System.Web.Optimization;
@{
    ViewBag.Title = InsuredTraveling.Resource.Search;
    RoleAuthorize r = new RoleAuthorize();
}

<br />
<br />

    <ul class="nav nav-pills">
        <li id="polycies" class="active"><a href="#" onclick="ShowPolycies()">@InsuredTraveling.Resource.Search_Policy</a></li>
        @if (r.IsUser("admin") || r.IsUser("broker"))
        {
            <li id="clients"><a href="#" onclick="ShowClients()">@InsuredTraveling.Resource.Search_Clients</a></li>
        }
        <li id="first_notice_of_loss"><a href="#" onclick="ShowFNOL()">@InsuredTraveling.Resource.Search_FNOL</a></li>

        <li id="searchChat"><a href="#" onclick="ShowChats()" >@InsuredTraveling.Resource.Chats</a></li>
    </ul>

    <!--Table search result of policies -->
    <div class="" id="searchPolycies">
        <br />
        <br />
        <div class="">
            <form method="post">
                <div class="">                    
                    <div class="row">                        
                        <div class="col-md-4 col-sm-4">
        <div class="row">
            <form method="post" style="margin-left: 20px">
                <div class="row">
                    
                    <div class="row">
                        
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="vidPolisa">@InsuredTraveling.Resource.Search_PolicyType:</label>
                                <br />
                                @Html.DropDownListFor(model => model.policy_type, (List<SelectListItem>)ViewBag.TypeOfPolicy, "-- Type of policy --", new { @class = "form-control", name = "TypePolicy", id = "TypePolicy" })
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="form-group">
                                <label for="country">@InsuredTraveling.Resource.Search_TravelCountry:</label>
                                @Html.DropDownListFor(model => model.countries, (List<SelectListItem>) ViewBag.Countries, "-- Country --", new {@class = "form-control", name = "Country", id = "Country"})
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="form-group">
                                <label for="country">@InsuredTraveling.Resource.Search_PolicyNumber:</label>
                                <input class="form-control" type="text" id="PolicyNumber" name="PolicyNumber" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="startDate">@InsuredTraveling.Resource.Search_PolicyEffectiveDate:</label>
                                <div class="input-group">
                                    <input type="date" id="startDate" class="form-control placeholder"/>
                                    <div class="input-group-btn">
                                        <button type="button" id="operatorStartDate" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="False">
                                            = <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li onclick="$('#operatorStartDate').html(' = '); $('#operatorStartDate').val('=');">=</li>
                                            <li onclick="$('#operatorStartDate').html(' < '); $('#operatorStartDate').val('<');">&lt</li>
                                            <li onclick="$('#operatorStartDate').html(' > '); $('#operatorStartDate').val('>');">&gt</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="endDate">@InsuredTraveling.Resource.Search_PolicyExpiryDate</label>
                                <div class="input-group">
                                    <input type="date" name="endDate" class="form-control" id="endDate"/>
                                    <div class="input-group-btn">
                                        <button type="button" id="operatorEndDate" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="False">
                                            = <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li onclick="$('#operatorEndDate').html(' = '); $('#operatorEndDate').val('=');">=</li>
                                            <li onclick="$('#operatorEndDate').html(' < '); $('#operatorEndDate').val('<');">&lt</li>
                                            <li onclick="$('#operatorEndDate').html(' > '); $('#operatorEndDate').val('>');">&gt</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="startDate">@InsuredTraveling.Resource.Search_PolicyIssuanceDate:</label>
                                <div class="input-group">
                                    <input type="date" class="form-control placeholder" id="dateI"/>
                                    <div class="input-group-btn">
                                        <button type="button" id="operatorDateI" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="False">
                                            = <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li onclick="$('#operatorDateI').html(' = '); $('#operatorDateI').val('=');">=</li>
                                            <li onclick="$('#operatorDateI').html(' < '); $('#operatorDateI').val('<');">&lt</li>
                                            <li onclick="$('#operatorDateI').html(' > '); $('#operatorDateI').val('>');">&gt</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="endDate">@InsuredTraveling.Resource.Search_CancellationDate:</label>
                                <div class="input-group">
                                    <input type="date" id="dateS" class="form-control" />
                                    <div class="input-group-btn">
                                        <button type="button" id="operatorDateS" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="False">
                                            = <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li onclick="$('#operatorDateS').html(' = '); $('#operatorDateS').val('=');">=</li>
                                            <li onclick="$('#operatorDateS').html(' < '); $('#operatorDateS').val('<');">&lt</li>
                                            <li onclick="$('#operatorDateS').html(' > '); $('#operatorDateS').val('>');">&gt</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-4">
                        <input id="btnSubmit" class="btn btn-primary btn-block btn-material-design-success" value="@InsuredTraveling.Resource.Search_SearchButton" onclick="SearchPolycies()" type="button" style="float:left;" />
                    </div>
                    <div class="col-md-offset-4 col-md-4">
                        <div class="hover-tooltip">
                            <button type="button" class="btn btn-success btn-circle btn-lg btn-material-design pull-right" data-toggle="tooltip" title="@InsuredTraveling.Resource.Search_AddPolicyButton" onclick="@("window.location.href='" + @Url.Action("Index", "Policy") + "'");"><i class="glyphicon glyphicon-plus"></i></button>
                        </div>
                    </div>
                </div>                
                <br />
            </form>
        </div>
        <br />
        <br />
        <br />
        <div class="row">
            <table style="width: 100%;" class="table table-bordered table-hover table-striped" id="tablePolicies">
                <thead>
                    <tr>
                        <th>@InsuredTraveling.Resource.Search_SearchTablePolicyNumber</th>
                        <th>@InsuredTraveling.Resource.Seacrh_SearchTableInsuredNameLastName</th>
                        <th>@InsuredTraveling.Resource.Seacrh_SearchTableTravelCountry</th>
                        <th>@InsuredTraveling.Resource.Seacrh_SearchTablePolicyType</th>
                        <th>@InsuredTraveling.Resource.Seacrh_SearchTableFrom</th>
                        <th>@InsuredTraveling.Resource.Seacrh_SearchTableTo</th>
                        <th>@InsuredTraveling.Resource.Seacrh_SearchTablePolicyIssuanceDate</th>
                        <th>@InsuredTraveling.Resource.Seacrh_SearchTableCancellationDate</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="searchResultPolycies"></tbody>
            </table>
        </div>
        <br />
        <br />
        <div class="row">
            <table style="width: 100%;" class="table table-bordered table-hover table-striped" id="tableFNOLPolicies">
                <thead>
                    <tr>
                        <th>@InsuredTraveling.Resource.Search_SearchTablePolicyNumber</th>
                        <th>@InsuredTraveling.Resource.Seacrh_SearchTableInsuredNameLastName</th>
                        <th>@InsuredTraveling.Resource.Seacrh_SearchTableClaimantNameLastName</th>
                        <th>@InsuredTraveling.Resource.Seacrh_SearchTableInsuredHolderRelationship</th>
                        <th>@InsuredTraveling.Resource.Seacrh_SearchTableTotalCost</th>
                        <th>@InsuredTraveling.Resource.Seacrh_SearchTableRegistrationDate</th>
                        <th>@InsuredTraveling.Resource.Seacrh_SearchTableHealthInsurance</th>
                        <th>@InsuredTraveling.Resource.Seacrh_SearchTableLuggageInsurance</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>

    <!--Table search result of clients -->
    <div class="" id="searchClients">
        <br />
        <br />
        <div class="">
            <form method="post">                  
                    <div class="row">                        
                        <div class="col-sm-3">
                            <div class="form-group">
                                <input type="search" name="name" class="form-control" placeholder="@InsuredTraveling.Resource.Search_SearchName" id="name"/>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <input type="search" name="lastname" class="form-control" placeholder="@InsuredTraveling.Resource.Search_SearchLastName" id="lastname"/>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <input type="search" name="embg" class="form-control" placeholder="@InsuredTraveling.Resource.Search_SearchSSN" id="embg"/>
                            </div>
                        </div>

                    </div>

                    <div class="row">

                        <div class="col-sm-3">
                            <div class="form-group">
                                <input type="search" name="address" class="form-control" placeholder="@InsuredTraveling.Resource.Search_SearchAddress" id="address" />
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <input type="search" name="city" class="form-control" placeholder="@InsuredTraveling.Resource.Search_SearchCity" id="city" />
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <input type="search" name="postal_code" class="form-control" placeholder="@InsuredTraveling.Resource.Search_SearchPostalCode" id="postal_code" />
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        
                        <div class="col-sm-3">
                            <div class="form-group">
                                <input type="search" name="phone" class="form-control" placeholder="@InsuredTraveling.Resource.Search_SearchPhoneNumber" id="phone" />
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <input type="search" name="email" class="form-control" placeholder="@InsuredTraveling.Resource.Search_SearchEmail" id="email" />
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <input type="search" name="passport" class="form-control" placeholder="@InsuredTraveling.Resource.Search_SearchPassport" id="passport" />
                            </div>
                        </div>

                    </div>

                <br />
                <br />
            </form>
        </div>
        <br />
        <br />
        <br />
        <div class="row col-md-12">
            <input id="btnSubmit" class="btn btn-primary btn-material-design-success btn-block" value="@InsuredTraveling.Resource.Search_SearchButton" onclick="SearchClients()" type="button" style="float:left;" />
            <div class="hover-tooltip">
                <button type="button" class="btn btn-success btn-circle btn-lg btn-material-design" data-toggle="tooltip" style="float:right;" title="@InsuredTraveling.Resource.Search_AddNewClient" onclick="@("window.location.href='" + @Url.Action("Create", "Client") + "'");"><i class="glyphicon glyphicon-plus"></i></button>
            </div>
        </div>
        <br />
        <br />
        <br />

        <div class="row">
            <table style="width: 100%;" class="table table-bordered table-hover table-striped" id="tableClients">
                <thead>
                    <tr>
                        <th>@InsuredTraveling.Resource.Seacrh_SearchTableName</th>
                        <th>@InsuredTraveling.Resource.Seacrh_SearchTableLastName</th>
                        <th>@InsuredTraveling.Resource.Seacrh_SearchTableSSN</th>
                        <th>@InsuredTraveling.Resource.Seacrh_SearchTableStreet</th>
                        <th>@InsuredTraveling.Resource.Seacrh_SearchTableCity</th>
                        <th>@InsuredTraveling.Resource.Seacrh_SearchTablePostalCode</th>
                        <th>@InsuredTraveling.Resource.Seacrh_SearchTablePhoneNumber</th>
                        <th>@InsuredTraveling.Resource.Seacrh_SearchTableEmail</th>
                        <th>@InsuredTraveling.Resource.Seacrh_SearchTablePassport</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="searchResultClients"></tbody>
            </table>
        </div>
        <br />
        <br />
        <div class="row">
            <div>@InsuredTraveling.Resource.Search_InsuredPolicy</div>
            <table style="width: 100%;" class="table table-bordered table-hover table-striped" id="tablePoliciesClients">
                <thead>
                    <tr>
                        <th>@InsuredTraveling.Resource.Search_SearchTablePolicyNumber</th>
                        <th>@InsuredTraveling.Resource.Seacrh_SearchTableTravelCountry</th>
                        <th>@InsuredTraveling.Resource.Seacrh_SearchTablePolicyType</th>
                        <th>@InsuredTraveling.Resource.Seacrh_SearchTableFrom</th>
                        <th>@InsuredTraveling.Resource.Seacrh_SearchTableTo</th>
                        <th>@InsuredTraveling.Resource.Seacrh_SearchTablePolicyIssuanceDate</th>
                        <th>@InsuredTraveling.Resource.Seacrh_SearchTableCancellationDate</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <br />
        <br />
        <div class="row">
            <div>@InsuredTraveling.Resource.Search_PolicyPolicyHolder</div>
            <table style="width: 100%;" class="table table-bordered table-hover table-striped" id="tablePoliciesHolders">
                <thead>
                    <tr>
                        <th>@InsuredTraveling.Resource.Search_SearchTablePolicyNumber</th>
                        <th>@InsuredTraveling.Resource.Seacrh_SearchTableTravelCountry</th>
                        <th>@InsuredTraveling.Resource.Seacrh_SearchTablePolicyType</th>
                        <th>@InsuredTraveling.Resource.Seacrh_SearchTableFrom</th>
                        <th>@InsuredTraveling.Resource.Seacrh_SearchTableTo</th>
                        <th>@InsuredTraveling.Resource.Seacrh_SearchTablePolicyIssuanceDate</th>
                        <th>@InsuredTraveling.Resource.Seacrh_SearchTableCancellationDate</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>

    <!--Table search result of first notice of loss -->
    <div class="" id="searchFNOL">
        <br />
        <br />
        <div class="" id="searchFNOLAttributes">
            <form method="post">                   
                    <div class="row">                        
                        <div class="col-md-4 col-sm-4">
                            <div class="form-group">
                                <label for="vidPolisa" class="label-position">@InsuredTraveling.Resource.Search_PolicyNumber :</label>
                                <br />
                                <input class="form-control" type="text" id="PolicyNumberFNL" name="PolicyNumberFNL" />
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="form-group">
                                <label for="startDate" class="label-position">@InsuredTraveling.Resource.Search_RegistrationDate:</label>
                                <div class="input-group">
                                    <input type="date" class="form-control placeholder" id="DateAdded"/>
                                    <div class="input-group-btn">
                                        <button type="button" id="operatorDateAdded" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="False">
                                            = <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li onclick="$('#operatorDateAdded').html(' = '); $('#operatorDateAdded').val('=');">=</li>
                                            <li onclick="$('#operatorDateAdded').html(' < '); $('#operatorDateAdded').val('<');">&lt</li>
                                            <li onclick="$('#operatorDateAdded').html(' > '); $('#operatorDateAdded').val('>');">&gt</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <div class="form-group">
                                <label for="holderName" class="label-position">@InsuredTraveling.Resource.Search_HolderName:</label>
                                <input type="search" name="holderName" class="form-control" placeholder="Search by name" id="holderName"/>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="form-group">
                                <label for="holderLastName" class="label-position">@InsuredTraveling.Resource.Search_HolderLastName:</label>
                                <input type="search" name="holderLastName" class="form-control" placeholder="Search by last name" id="holderLastName"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">                        
                        <div class="col-md-4 col-sm-4">
                            <div class="form-group">
                                <label for="clientName" class="label-position">@InsuredTraveling.Resource.Search_InsuredName:</label>
                                <input type="search" name="clientName" class="form-control" placeholder="Search by name" id="clientName" />
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="form-group">
                                <label for="clientLastName" class="label-position">@InsuredTraveling.Resource.Search_InsuredLastName:</label>
                                <input type="search" name="clientLastName" class="form-control" placeholder="Search by last name" id="clientLastName" />
                            </div>
                        </div>
                    </div>
                    <div class="row">                        
                        <div class="col-md-4 col-sm-4">
                            <div class="form-group">
                                <label for="insuredName" class="label-position">@InsuredTraveling.Resource.Search_ClaimantName:</label>
                                <input type="search" name="insuredName" class="form-control" placeholder="Search by name" id="insuredName" />
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="form-group">
                                <label for="insuredLastName" class="label-position">@InsuredTraveling.Resource.Search_ClaimantLastName: </label>
                                <input type="search" name="insuredLastName" class="form-control" placeholder="Search by last name" id="insuredLastName" />
                            </div>
                        </div>
                    </div>
                    <div class="form-inline row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="totalPrice" class="label-position">@InsuredTraveling.Resource.Search_TotalCost:</label>
                                <div class="input-group-btn">
                                    <input type="search" name="totalPrice" class="form-control" placeholder="Search by Total Cost" id="totalPrice" />
                                    <button type="button" id="totalCostOperator" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="False">
                                        = <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li onclick="$('#totalCostOperator').html(' = '); $('#totalCostOperator').val('=');">=</li>
                                        <li onclick="$('#totalCostOperator').html(' < '); $('#totalCostOperator').val('<');">&lt</li>
                                        <li onclick="$('#totalCostOperator').html(' > '); $('#totalCostOperator').val('>');">&gt</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-offset-1 col-sm-3">
                            <div class="form-group">
                                <label class="col-md-12">&nbsp;</label>
                                <input type="radio" name="typeInsurance" value="healthInsurance" id="healthInsurance" class="radiobtn-position"> @InsuredTraveling.Resource.Search_HealthInsurance<br>
                                <input type="radio" name="typeInsurance" value="luggageInsurance" id="luggageInsurance" class="radiobtn-position">@InsuredTraveling.Resource.Search_LuggageInsurance<br>
                            </div>
                        </div>
                    </div>
                <br />
                <div class="row">
                    <div class="col-md-4">
                        <input id="btnSubmit" class="btn btn-primary btn-block btn-material-design-success" value="Search" onclick="SearchFNOL()" type="button" style="float:left;" />
                    </div>
                    <div class="col-md-offset-4 col-md-4">
                        <div class="hover-tooltip">
                            <button type="button" style="float:right;" class="btn btn-success btn-circle btn-lg btn-material-design" data-toggle="tooltip" title="@InsuredTraveling.Resource.Search_AddFNOL" onclick="@("window.location.href='" + @Url.Action("Index", "FirstNoticeOfLoss") + "'");"><i class="glyphicon glyphicon-plus"></i></button>
                        </div>
                    </div>
                </div>
                
                <br />
            </form>
        </div>
        <br />
        <br />
        <div class="row">
            <table style="width: 100%;" class="table table-bordered table-hover table-striped" id="tableFNOL">
                <thead>
                    <tr>
                        <th>@InsuredTraveling.Resource.Search_SearchTablePolicyNumber</th>
                        <th>@InsuredTraveling.Resource.Seacrh_SearchTableInsuredNameLastName</th>
                        <th>@InsuredTraveling.Resource.Seacrh_SearchTableClaimantNameLastName</th>
                        <th>@InsuredTraveling.Resource.Seacrh_SearchTableInsuredHolderRelationship</th>
                        <th>@InsuredTraveling.Resource.Seacrh_SearchTableTotalCost</th>
                        <th>@InsuredTraveling.Resource.Seacrh_SearchTableRegistrationDate</th>
                        <th>@InsuredTraveling.Resource.Seacrh_SearchTableHealthInsurance</th>
                        <th>@InsuredTraveling.Resource.Seacrh_SearchTableLuggageInsurance</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>

    <!--Table search result of chat -->
    <div id="searchChats" class="container">
    <br />
    <br />
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <input type="search" name="name" class="form-control" placeholder="@InsuredTraveling.Resource.Search_SearchName" id="nameChat" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <input type="search" id="chatId" name="chatId" class="form-control" placeholder="@InsuredTraveling.Resource.Search_Id" />
                        <br />
                    </div>
                </div>
            </div>     
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="radio-inline"  value="chat">
                            <input id="all" type="radio" name="chat" checked="checked" class="radiobtn-position" />
                            <label>@InsuredTraveling.Resource.Search_All</label> 
                        </label>
                        <br />
                    </div>
                </div>
            </div> 
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="radio-inline" value="chat">
                            <input  id="active" type="radio" name="chat" class="radiobtn-position" />
                            <label>@InsuredTraveling.Resource.Search_Active</label>
                        </label>
                        <br />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="radio-inline" value="chat">
                            <input type="radio" id="discarded" name="chat" class="radiobtn-position" />
                            <label>@InsuredTraveling.Resource.Search_Discarded</label>
                        </label>
                        <br />
                    </div>
                 </div>
            </div>            
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="radio-inline" value="chat">
                            <input id="noticed"  type="radio"  name="chat" class="radiobtn-position"  />
                            <label>@InsuredTraveling.Resource.Search_Noticed</label>
                        </label>
                        <br />
                    </div>
                   </div>
             </div>
            <br />
            <div class="row">
                <div class="col-md-4">
                    <input id="btnSubmit" class="btn btn-primary btn-material-design-success" value="@InsuredTraveling.Resource.Search_SearchButton" onclick="SearchChat()" type="button" />
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-12">
                    <table style="width: 100%;" class="table table-bordered table-hover table-striped" id="tableChats">
                        <thead>
                            <tr>
                                <th>@InsuredTraveling.Resource.Search_Id</th>
                                <th>@InsuredTraveling.Resource.Search_ChatWith</th>
                                <th>@InsuredTraveling.Resource.Search_FNOLChat</th>
                                <th>@InsuredTraveling.Resource.Search_DiscardedChat</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>                
            </div>
      </div>


        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/search")
        @Styles.Render("~/Content/jqueryuicss")
                $("#searchChat").removeAttr("class");

                $("#searchChat").attr("class", "active");
        

